{{!-- Acolyte Sheet Sidebar Tab Navigation --}}
{{!-- This part renders the tab navigation as a vertical sidebar --}}
<nav class="wh40k-navigation wh40k-sidebar-nav tabs" data-group="primary">
    {{#each tabs}}
    <a class="item wh40k-nav-item {{#if active}}active{{/if}} {{ cssClass }}" 
       data-action="tab" 
       data-group="{{ group }}"
       data-tab="{{ tab }}" 
       data-tooltip="{{ label }}">
        <span class="nav-label">{{ label }}</span>
    </a>
    {{/each}}
</nav>
