{{!-- Acolyte Sheet Tab Navigation --}}
{{!-- This part renders the tab navigation bar --}}
<div class="rt-navigation" data-group="primary">
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="overview" data-group="primary">{{localize "RT.Tabs.Overview"}}</a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="combat" data-group="primary">{{localize "RT.Tabs.Combat"}}</a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="skills" data-group="primary">{{localize "RT.Tabs.Skills"}}</a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="talents" data-group="primary">{{localize "RT.Tabs.Talents"}}</a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="equipment" data-group="primary">{{localize "RT.Tabs.Equipment"}}</a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="powers" data-group="primary">{{localize "RT.Tabs.Powers"}}</a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="dynasty" data-group="primary">{{localize "RT.Tabs.Dynasty"}}</a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="biography" data-group="primary">{{localize "RT.Tabs.Biography"}}</a>
    </label>
</div>
