<div class="{{concat 'wh40k-header__item-wrapper--' (cleanFieldName key)}} tw-p-2 tw-bg-white/50 tw-rounded-md tw-border tw-border-[rgba(74,55,40,0.1)] tw-m-[2px]">
    <span class="tw-font-semibold tw-text-[#4a3728] tw-uppercase tw-text-[0.8em] tw-tracking-[0.05em] tw-text-gold bc:tw-text-crimson-light dh1e:tw-text-gold-raw-l5 dh2e:tw-text-gold-raw dw:tw-text-accent-combat ow:tw-text-brass-l20 rt:tw-text-gold im:tw-text-failure">{{capitalize key}}</span>
    {{#if options}}
        <select class="{{concat 'player-' key}} tw-rounded-md tw-py-[6px] tw-px-2 tw-bg-white/70 tw-border tw-border-[rgba(74,55,40,0.2)]" name="system.bio.{{key}}">
            <option value=""></option>
            {{selectOptions (arrayToObject options) selected=this.value}}
        </select>
    {{else}}
        <input class="tw-rounded-md tw-py-[6px] tw-px-2 tw-bg-white/70 tw-border tw-border-[rgba(74,55,40,0.2)]" name="system.bio.{{key}}" type="text" value="{{this.value}}" />
    {{/if}}
</div>