<div class="wh40k-header__item-wrapper--{{cleanFieldName key}}">
    <span class="wh40k-header__title">{{capitalize key}}</span>
    {{#if options}}
        <select class="wh40k-header__select player-{{key}}" name="system.bio.{{key}}">
            <option value=""></option>
            {{selectOptions (arrayToObject options) selected=this.value}}
        </select>
    {{else}}
        <input class="wh40k-header__input" name="system.bio.{{key}}" type="text" value="{{this.value}}" />
    {{/if}}
</div>