{{! Add Specialist Skill - Single Page with Cascading Dropdowns }}
<form class="wh40k-specialist-prompt" autocomplete="off">
    <div class="wh40k-specialist-prompt__header">
        <img class="wh40k-specialist-prompt__icon" alt="{{actor.name}}" src="{{actor.img}}" />
        <div class="wh40k-specialist-prompt__info">
            <div class="wh40k-specialist-prompt__label">Add Specialist Skill</div>
        </div>
    </div>

    <div class="wh40k-specialist-prompt__body">
        <div class="wh40k-specialist-prompt__field-group">
            <label class="wh40k-specialist-prompt__field-label">Skill Type</label>
            <select class="wh40k-prompt__select" id="skill-select">
                <option value="">-- Choose a skill --</option>
                {{#each specialistSkills}}
                    <option value="{{this.key}}" {{#if (eq this.key ../preSelectedSkillKey)}}selected{{/if}}>{{this.label}} ({{this.characteristic}})</option>
                {{/each}}
            </select>
        </div>

        <div class="wh40k-specialist-prompt__field-group {{#unless specializations.length}}tw-hidden{{/unless}}" id="specialization-group">
            <label class="wh40k-specialist-prompt__field-label">Specialization</label>
            <select class="wh40k-prompt__select" id="specialization-select">
                <option value="">-- Select a specialization --</option>
                {{#each specializations}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>

        <div class="wh40k-specialist-prompt__field-group">
            <label class="wh40k-specialist-prompt__field-label">Or enter custom name</label>
            <input class="wh40k-prompt__input" type="text" id="custom-specialization" placeholder="e.g., Imperium, Stellar, Imperial Navy" />
        </div>
    </div>

    <div class="dialog-buttons">
        <button type="button" data-action="add" class="default">
            <i class="fas fa-plus"></i>
            Add
        </button>
        <button type="button" data-action="cancel" data-button="cancel">
            <i class="fas fa-times"></i>
            Cancel
        </button>
    </div>
</form>
