{{dhlog this}}
<div class="dialog-content">
    <form class="dh-wrapper" autocomplete="off">
        <div class="dh-attack">
            <!-- Header -->
            <div class="dh-panel dh-grid-col-6">
                <div class="dh-header">
                    <div class="dh-header__prompt dh-header__logo">
                        <div class="dh-header__item-wrapper--span-4 dh-header__borderless">
                            <img class="dh-header__logo-image-small" alt="{{this.actor.name}}" src="{{this.actor.img}}" />
                            <span class="dh-header__title">Create Specialisation</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dh-panel dh-grid-col-6">
                <div class="dh-field__wrapper">
                    <span class="dh-field__span">Skill</span>
                    <span class="dh-field__span">{{this.skill.label}}</span>
                </div>
                <div class="dh-field__wrapper">
                    <span class="dh-field__span">Specialisation</span>
                    {{#if this.specializations}}
                        <select class="dh-field__input" id="speciality-name" style="width: 100%;">
                            <option value="" disabled selected>-- Choose from list --</option>
                            {{#each this.specializations}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <input class="dh-field__input" type="text" id="custom-speciality-name" placeholder="Or enter custom specialization..." style="margin-top: 5px;" />
                    {{else}}
                        <input class="dh-field__input" type="text" id="speciality-name" placeholder="Enter specialization name..." />
                    {{/if}}
                </div>
                {{#if this.specializations}}
                    <div class="dh-field__wrapper" style="margin-top: 10px;">
                        <small style="color: #888; font-style: italic;">Common specializations are listed above. You can select one or enter a custom name in the text field.</small>
                    </div>
                {{/if}}
            </div>
        </div>
    </form>
</div>
