{{!-- Rogue Trader Add Speciality Prompt - Modern Design --}}
<div class="dialog-content">
    <form class="rt-prompt" autocomplete="off">
        <div class="rt-prompt__panel">
            <div class="rt-prompt__header">
                <img class="rt-prompt__icon" alt="{{this.actor.name}}" src="{{this.actor.img}}" />
                <div class="rt-prompt__title-group">
                    <h2 class="rt-prompt__title">Create Specialisation</h2>
                    <div class="rt-prompt__subtitle">{{this.skill.label}}</div>
                </div>
            </div>
            
            <div class="rt-prompt__section">
                <div class="rt-prompt__field">
                    <span class="rt-prompt__label">Skill</span>
                    <span class="rt-prompt__value">{{this.skill.label}}</span>
                </div>
                <div class="rt-prompt__field" style="flex-direction: column; align-items: stretch;">
                    <span class="rt-prompt__label" style="margin-bottom: 6px;">Specialisation</span>
                    {{#if this.specializations}}
                        <select class="rt-prompt__select" id="speciality-name">
                            <option value="" disabled selected>-- Choose from list --</option>
                            {{#each this.specializations}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <input class="rt-prompt__input" type="text" id="custom-speciality-name" placeholder="Or enter custom..." style="margin-top: 8px;" />
                    {{else}}
                        <input class="rt-prompt__input" type="text" id="speciality-name" placeholder="Enter specialization name..." />
                    {{/if}}
                </div>
                {{#if this.specializations}}
                    <div class="rt-prompt__info">
                        <span class="material-icons">info</span>
                        <p>Common specializations are listed above. You can select one or enter a custom name.</p>
                    </div>
                {{/if}}
            </div>
        </div>
    </form>
</div>
