{{!-- Rogue Trader Assign Damage Prompt - Modern Design --}}
<div class="dialog-content">
    <form class="rt-prompt rt-prompt--damage" autocomplete="off">
        {{!-- Character Info --}}
        <div class="rt-prompt__panel">
            <div class="rt-prompt__header">
                <img class="rt-prompt__icon" alt="{{this.actor.name}}" src="{{this.actor.img}}" />
                <div class="rt-prompt__title-group">
                    <h2 class="rt-prompt__title">{{this.actor.name}}</h2>
                    <div class="rt-prompt__subtitle">Assign Damage</div>
                </div>
            </div>
            
            <div class="rt-prompt__grid rt-prompt__grid--3col">
                <div class="rt-prompt__stat">
                    <span class="rt-prompt__stat-value">{{this.actor.system.wounds.value}}/{{this.actor.system.wounds.max}}</span>
                    <span class="rt-prompt__stat-label">Wounds</span>
                </div>
                <div class="rt-prompt__stat">
                    <span class="rt-prompt__stat-value">{{this.actor.system.wounds.critical}}</span>
                    <span class="rt-prompt__stat-label">Critical</span>
                </div>
                <div class="rt-prompt__stat">
                    <span class="rt-prompt__stat-value">{{this.actor.system.fatigue.value}}/{{this.actor.system.fatigue.max}}</span>
                    <span class="rt-prompt__stat-label">Fatigue</span>
                </div>
            </div>
        </div>

        {{!-- Damage Details --}}
        <div class="rt-prompt__panel">
            <h3 class="rt-prompt__section-title">Incoming Damage</h3>
            
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Hit Location</span>
                <select class="rt-prompt__select" name="hit.location" id="location">
                    {{selectOptions locations selected=this.hit.location}}
                </select>
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Damage Type</span>
                <select class="rt-prompt__select" name="hit.damageType" id="damageType">
                    {{selectOptions damageType selected=this.hit.damageType}}
                </select>
            </div>
            
            <div class="rt-prompt__divider"></div>
            
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Total Damage</span>
                <input class="rt-prompt__input" type="number" data-dtype="Number" name="hit.totalDamage" value="{{this.hit.totalDamage}}" />
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Penetration</span>
                <input class="rt-prompt__input" type="number" data-dtype="Number" name="hit.totalPenetration" value="{{this.hit.totalPenetration}}" />
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Fatigue</span>
                <input class="rt-prompt__input" type="number" data-dtype="Number" name="hit.totalFatigue" value="{{this.hit.totalFatigue}}" />
            </div>
            
            <div class="rt-prompt__divider"></div>
            
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Location Armour</span>
                <input class="rt-prompt__input" type="number" data-dtype="Number" name="armour" value="{{this.armour}}" />
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Toughness Bonus</span>
                <input class="rt-prompt__input" type="number" data-dtype="Number" name="tb" value="{{this.tb}}" />
            </div>
        </div>
    </form>
</div>

{{!-- Dialog Buttons --}}
<div class="dialog-buttons">
    <button class="dialog-button roll default" data-button="roll" id="assign-damage">
        <span class="material-icons">api</span>
        Apply
    </button>
    <button class="dialog-button cancel" data-button="cancel" id="cancel-prompt">
        <span class="material-icons">close</span>
        Cancel
    </button>
</div>
