{{!-- Rogue Trader Force Field Prompt - Modern Design --}}
<div class="dialog-content">
    <form class="rt-prompt" autocomplete="off">
        {{!-- Character & Field Info --}}
        <div class="rt-prompt__panel">
            <div class="rt-prompt__header">
                <img class="rt-prompt__icon" alt="{{this.actor.name}}" src="{{this.actor.img}}" />
                <div class="rt-prompt__title-group">
                    <h2 class="rt-prompt__title">Force Field</h2>
                    <div class="rt-prompt__subtitle">{{this.forceField.name}}</div>
                </div>
            </div>
            
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Character</span>
                <span class="rt-prompt__value">{{this.actor.name}}</span>
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Quality</span>
                <span class="rt-prompt__value">{{this.forceField.system.protectionRating}}</span>
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Activated</span>
                <span class="rt-prompt__value">{{this.forceField.system.activated}}</span>
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Overloaded</span>
                <span class="rt-prompt__value">{{this.forceField.system.overloaded}}</span>
            </div>
        </div>

        {{!-- Protection Settings --}}
        <div class="rt-prompt__panel">
            <h3 class="rt-prompt__section-title">Protection</h3>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Rating</span>
                <input class="rt-prompt__input" type="number" data-dtype="Number" name="protectionRating" value="{{this.protectionRating}}" />
            </div>
            <div class="rt-prompt__field">
                <span class="rt-prompt__label">Overload</span>
                <input class="rt-prompt__input" type="number" data-dtype="Number" name="overloadRating" value="{{this.overloadRating}}" />
            </div>
        </div>
    </form>
</div>

{{!-- Dialog Buttons --}}
<div class="dialog-buttons">
    <button class="dialog-button roll default" data-button="roll" id="roll-force-field">
        <span class="material-icons">casino</span>
        Roll
    </button>
    <button class="dialog-button cancel" data-button="cancel" id="cancel-prompt">
        <span class="material-icons">close</span>
        Cancel
    </button>
</div>
