{{!-- Rogue Trader Starship Sheet --}}
<div class="dh-wrapper">
    <form class="dh-actor rt-sheet rt-starship-sheet" autocomplete="off">
        {{!-- Ship Header --}}
        <div class="dh-header dh-grid-col-6 dh-panel rt-ship-header">
            <div class="dh-header__info">
                <div class="dh-header__logo rt-ship-portrait-container">
                    <img class="dh-header__logo-image rt-ship-portrait" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{actor.name}}" />
                </div>
                <div class="rt-ship-info">
                    <div class="rt-header-row rt-name-row">
                        <span class="rt-header-label">{{localize "RT.Starship.Name"}}</span>
                        <input class="rt-header-input rt-name-input" name="name" type="text" value="{{actor.name}}" />
                    </div>
                    <div class="rt-header-row">
                        <span class="rt-header-label">{{localize "RT.Starship.HullType"}}</span>
                        <input class="rt-header-input" name="system.hullType" type="text" value="{{system.hullType}}" />
                    </div>
                    <div class="rt-header-row">
                        <span class="rt-header-label">{{localize "RT.Starship.HullClass"}}</span>
                        <input class="rt-header-input" name="system.hullClass" type="text" value="{{system.hullClass}}" />
                    </div>
                </div>
                <div class="rt-ship-quick-stats">
                    <div class="rt-stat-box rt-hull-box">
                        <span class="rt-stat-label">Hull Integrity</span>
                        <div class="rt-stat-values">
                            <input type="number" class="rt-stat-input" name="system.hullIntegrity.value" value="{{system.hullIntegrity.value}}" title="Current" />
                            <span class="rt-stat-separator">/</span>
                            <input type="number" class="rt-stat-input" name="system.hullIntegrity.max" value="{{system.hullIntegrity.max}}" title="Max" />
                        </div>
                    </div>
                    <div class="rt-stat-box rt-morale-box">
                        <span class="rt-stat-label">Morale</span>
                        <div class="rt-stat-values">
                            <input type="number" class="rt-stat-input" name="system.crew.morale.value" value="{{system.crew.morale.value}}" title="Current" />
                            <span class="rt-stat-separator">/</span>
                            <input type="number" class="rt-stat-input" name="system.crew.morale.max" value="{{system.crew.morale.max}}" title="Max" />
                        </div>
                    </div>
                    <div class="rt-stat-box rt-pop-box">
                        <span class="rt-stat-label">Population</span>
                        <input type="number" class="rt-stat-input rt-stat-single" name="system.crew.population" value="{{system.crew.population}}" />
                    </div>
                    <div class="rt-stat-box rt-crew-box">
                        <span class="rt-stat-label">Crew Rating</span>
                        <input type="number" class="rt-stat-input rt-stat-single" name="system.crew.crewRating" value="{{system.crew.crewRating}}" />
                    </div>
                </div>
            </div>
        </div>

        {{!-- Navigation Tabs --}}
        <div class="dh-navigation rt-navigation" data-group="primary">
            <label class="dh-navigation__item rt-nav-item">
                <a class="item" data-tab="stats" data-group="primary">
                    <span class="material-icons">speed</span>
                    {{localize "RT.Starship.Tabs.Stats"}}
                </a>
            </label>
            <label class="dh-navigation__item rt-nav-item">
                <a class="item" data-tab="components" data-group="primary">
                    <span class="material-icons">settings</span>
                    {{localize "RT.Starship.Tabs.Components"}}
                </a>
            </label>
            <label class="dh-navigation__item rt-nav-item">
                <a class="item" data-tab="weapons" data-group="primary">
                    <span class="material-icons">gps_fixed</span>
                    {{localize "RT.Starship.Tabs.Weapons"}}
                </a>
            </label>
            <label class="dh-navigation__item rt-nav-item">
                <a class="item" data-tab="crew" data-group="primary">
                    <span class="material-icons">groups</span>
                    {{localize "RT.Starship.Tabs.Crew"}}
                </a>
            </label>
            <label class="dh-navigation__item rt-nav-item">
                <a class="item" data-tab="history" data-group="primary">
                    <span class="material-icons">history_edu</span>
                    {{localize "RT.Starship.Tabs.History"}}
                </a>
            </label>
        </div>

        {{!-- Tab Content --}}
        <section class="dh-body rt-body">
            {{!-- STATS TAB --}}
            <div class="tab rt-tab" data-group="primary" data-tab="stats">
                <div class="dh-panel spacer dh-grid-col-3 dh-grid-row-1">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.Combat.Header"}}</h1>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Combat.Speed"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.speed" value="{{system.speed}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Combat.Manoeuvrability"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.manoeuvrability" value="{{system.manoeuvrability}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Combat.Detection"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.detection" value="{{system.detection}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Combat.Armour"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.armour" value="{{system.armour}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Combat.VoidShields"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.voidShields" value="{{system.voidShields}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Combat.TurretRating"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.turretRating" value="{{system.turretRating}}" />
                    </div>
                </div>

                <div class="dh-panel spacer dh-grid-col-3 dh-grid-row-1">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.Resources.Header"}}</h1>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Resources.SpaceTotal"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.space.total" value="{{system.space.total}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Resources.SpaceUsed"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.space.used" value="{{system.space.used}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Resources.PowerTotal"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.power.total" value="{{system.power.total}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Resources.PowerUsed"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.power.used" value="{{system.power.used}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.Resources.ShipPoints"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.shipPoints" value="{{system.shipPoints}}" />
                    </div>
                </div>

                <div class="dh-panel spacer dh-grid-col-3 dh-grid-row-1">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.WeaponCapacity.Header"}}</h1>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.WeaponCapacity.Prow"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.weaponCapacity.prow" value="{{system.weaponCapacity.prow}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.WeaponCapacity.Dorsal"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.weaponCapacity.dorsal" value="{{system.weaponCapacity.dorsal}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.WeaponCapacity.Port"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.weaponCapacity.port" value="{{system.weaponCapacity.port}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.WeaponCapacity.Starboard"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.weaponCapacity.starboard" value="{{system.weaponCapacity.starboard}}" />
                    </div>
                    <div class="dh-field__wrapper">
                        <span class="dh-field__header">{{localize "RT.Starship.WeaponCapacity.Keel"}}</span>
                        <input type="number" data-dtype="Number" class="dh-field__input" name="system.weaponCapacity.keel" value="{{system.weaponCapacity.keel}}" />
                    </div>
                </div>

                <div class="dh-panel spacer dh-grid-col-3 dh-grid-row-1">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.Physical.Header"}}</h1>
                    <div class="dh-field__wrapper dh-grid-col-3">
                        <span class="dh-field__header">{{localize "RT.Starship.Physical.Dimensions"}}</span>
                        <input type="text" class="dh-field__input" name="system.dimensions" value="{{system.dimensions}}" />
                    </div>
                </div>
            </div>

            {{!-- COMPONENTS TAB --}}
            <div class="tab rt-tab" data-group="primary" data-tab="components">
                {{> systems/rogue-trader/templates/actor/panel/ship-components-panel.hbs}}
                {{> systems/rogue-trader/templates/actor/panel/ship-upgrades-panel.hbs}}
            </div>

            {{!-- WEAPONS TAB --}}
            <div class="tab rt-tab" data-group="primary" data-tab="weapons">
                {{> systems/rogue-trader/templates/actor/panel/ship-weapons-panel.hbs}}
            </div>

            {{!-- CREW TAB --}}
            <div class="tab rt-tab" data-group="primary" data-tab="crew">
                {{> systems/rogue-trader/templates/actor/panel/ship-crew-panel.hbs}}
            </div>

            {{!-- HISTORY TAB --}}
            <div class="tab rt-tab" data-group="primary" data-tab="history">
                <div class="dh-panel spacer dh-grid-col-6 dh-grid-row-1">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.History.MachineSpirit"}}</h1>
                    <textarea class="dh-header__textarea" name="system.machineSpiritOddities" rows="3">{{system.machineSpiritOddities}}</textarea>
                </div>
                <div class="dh-panel spacer dh-grid-col-6 dh-grid-row-1">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.History.PastHistory"}}</h1>
                    <textarea class="dh-header__textarea" name="system.pastHistory" rows="3">{{system.pastHistory}}</textarea>
                </div>
                <div class="dh-panel spacer dh-grid-col-6 dh-grid-row-1">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.History.Complications"}}</h1>
                    <textarea class="dh-header__textarea" name="system.complications" rows="3">{{system.complications}}</textarea>
                </div>
                <div class="dh-panel spacer dh-grid-col-6 dh-grid-row-2">
                    <h1 class="dh-panel__header">{{localize "RT.Starship.History.Notes"}}</h1>
                    <textarea class="dh-header__textarea" name="system.notes" rows="6">{{system.notes}}</textarea>
                </div>
            </div>
        </section>
    </form>
</div>
