{{! Starship Sheet Header }}
<div class="wh40k-header wh40k-grid-col-6 wh40k-panel wh40k-ship-header">
    <div class="wh40k-header__info">
        <div class="wh40k-header__logo wh40k-ship-portrait-container">
            <img class="wh40k-header__logo-image wh40k-ship-portrait" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{actor.name}}" />
        </div>
        <div class="wh40k-ship-info">
            <div class="wh40k-header-row wh40k-name-row">
                <span class="wh40k-header-label">{{localize "WH40K.Starship.Name"}}</span>
                <input class="wh40k-header-input wh40k-name-input" name="name" type="text" value="{{actor.name}}" />
            </div>
            <div class="wh40k-header-row">
                <span class="wh40k-header-label">{{localize "WH40K.Starship.HullType"}}</span>
                <input class="wh40k-header-input" name="system.hullType" type="text" value="{{source.hullType}}" />
            </div>
            <div class="wh40k-header-row">
                <span class="wh40k-header-label">{{localize "WH40K.Starship.HullClass"}}</span>
                <input class="wh40k-header-input" name="system.hullClass" type="text" value="{{source.hullClass}}" />
            </div>
        </div>
        <div class="wh40k-ship-quick-stats">
            <div class="wh40k-stat-box wh40k-hull-box">
                <span class="wh40k-stat-label">Hull Integrity</span>
                <div class="wh40k-stat-values">
                    <input type="number" class="wh40k-stat-input" name="system.hullIntegrity.value" value="{{source.hullIntegrity.value}}" title="Current" />
                    <span class="wh40k-stat-separator">/</span>
                    <input type="number" class="wh40k-stat-input" name="system.hullIntegrity.max" value="{{source.hullIntegrity.max}}" title="Max" />
                </div>
            </div>
            <div class="wh40k-stat-box wh40k-morale-box">
                <span class="wh40k-stat-label">Morale</span>
                <div class="wh40k-stat-values">
                    <input type="number" class="wh40k-stat-input" name="system.crew.morale.value" value="{{source.crew.morale.value}}" title="Current" />
                    <span class="wh40k-stat-separator">/</span>
                    <input type="number" class="wh40k-stat-input" name="system.crew.morale.max" value="{{source.crew.morale.max}}" title="Max" />
                </div>
            </div>
            <div class="wh40k-stat-box wh40k-pop-box">
                <span class="wh40k-stat-label">Population</span>
                <input type="number" class="wh40k-stat-input wh40k-stat-single" name="system.crew.population" value="{{source.crew.population}}" />
            </div>
            <div class="wh40k-stat-box wh40k-crew-box">
                <span class="wh40k-stat-label">Crew Rating</span>
                <input type="number" class="wh40k-stat-input wh40k-stat-single" name="system.crew.crewRating" value="{{source.crew.crewRating}}" />
            </div>
        </div>
    </div>
</div>