{{!-- Starship History Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <div class="wh40k-panel spacer wh40k-grid-col-6 wh40k-grid-row-1">
        <h1 class="wh40k-panel-header">{{localize "WH40K.Starship.History.MachineSpirit"}}</h1>
        <textarea class="wh40k-header__textarea" name="system.machineSpiritOddities" rows="3">{{system.machineSpiritOddities}}</textarea>
    </div>
    <div class="wh40k-panel spacer wh40k-grid-col-6 wh40k-grid-row-1">
        <h1 class="wh40k-panel-header">{{localize "WH40K.Starship.History.PastHistory"}}</h1>
        <textarea class="wh40k-header__textarea" name="system.pastHistory" rows="3">{{system.pastHistory}}</textarea>
    </div>
    <div class="wh40k-panel spacer wh40k-grid-col-6 wh40k-grid-row-1">
        <h1 class="wh40k-panel-header">{{localize "WH40K.Starship.History.Complications"}}</h1>
        <textarea class="wh40k-header__textarea" name="system.complications" rows="3">{{system.complications}}</textarea>
    </div>
    <div class="wh40k-panel spacer wh40k-grid-col-6 wh40k-grid-row-2">
        <h1 class="wh40k-panel-header">{{localize "WH40K.Starship.History.Notes"}}</h1>
        <textarea class="wh40k-header__textarea" name="system.notes" rows="6">{{system.notes}}</textarea>
    </div>
</section>
