{{!-- Starship History Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <div class="rt-panel spacer rt-grid-col-6 rt-grid-row-1">
        <h1 class="rt-panel-header">{{localize "RT.Starship.History.MachineSpirit"}}</h1>
        <textarea class="rt-header__textarea" name="system.machineSpiritOddities" rows="3">{{system.machineSpiritOddities}}</textarea>
    </div>
    <div class="rt-panel spacer rt-grid-col-6 rt-grid-row-1">
        <h1 class="rt-panel-header">{{localize "RT.Starship.History.PastHistory"}}</h1>
        <textarea class="rt-header__textarea" name="system.pastHistory" rows="3">{{system.pastHistory}}</textarea>
    </div>
    <div class="rt-panel spacer rt-grid-col-6 rt-grid-row-1">
        <h1 class="rt-panel-header">{{localize "RT.Starship.History.Complications"}}</h1>
        <textarea class="rt-header__textarea" name="system.complications" rows="3">{{system.complications}}</textarea>
    </div>
    <div class="rt-panel spacer rt-grid-col-6 rt-grid-row-2">
        <h1 class="rt-panel-header">{{localize "RT.Starship.History.Notes"}}</h1>
        <textarea class="rt-header__textarea" name="system.notes" rows="6">{{system.notes}}</textarea>
    </div>
</section>
