{{!-- Starship Sheet Tab Navigation --}}
<nav class="rt-navigation" data-group="primary">
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="stats" data-group="primary">
            <span class="material-icons">speed</span>
            {{localize "RT.Starship.Tabs.Stats"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="components" data-group="primary">
            <span class="material-icons">settings</span>
            {{localize "RT.Starship.Tabs.Components"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="weapons" data-group="primary">
            <span class="material-icons">gps_fixed</span>
            {{localize "RT.Starship.Tabs.Weapons"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="crew" data-group="primary">
            <span class="material-icons">groups</span>
            {{localize "RT.Starship.Tabs.Crew"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="history" data-group="primary">
            <span class="material-icons">history_edu</span>
            {{localize "RT.Starship.Tabs.History"}}
        </a>
    </label>
</nav>
