{{! Starship Sheet Tab Navigation }}
<nav class="wh40k-navigation" data-group="primary">
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="stats" data-group="primary">
            <span class="material-icons">speed</span>
            {{localize "WH40K.Starship.Tabs.Stats"}}
        </a>
    </label>
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="components" data-group="primary">
            <span class="material-icons">settings</span>
            {{localize "WH40K.Starship.Tabs.Components"}}
        </a>
    </label>
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="weapons" data-group="primary">
            <span class="material-icons">gps_fixed</span>
            {{localize "WH40K.Starship.Tabs.Weapons"}}
        </a>
    </label>
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="crew" data-group="primary">
            <span class="material-icons">groups</span>
            {{localize "WH40K.Starship.Tabs.Crew"}}
        </a>
    </label>
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="history" data-group="primary">
            <span class="material-icons">history_edu</span>
            {{localize "WH40K.Starship.Tabs.History"}}
        </a>
    </label>
</nav>