{{!-- Vehicle V2 Components Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
    <div class="rt-vehicle-v2-components">
        
        {{!-- Components/Upgrades List --}}
        <div class="rt-vehicle-v2-panel rt-vehicle-v2-components-list">
            <h3 class="rt-vehicle-v2-panel-title">
                <i class="fas fa-cog"></i>
                Components & Upgrades
            </h3>
            <div class="rt-vehicle-v2-items-list">
                {{#each components}}
                <div class="rt-vehicle-v2-component-item" data-item-id="{{this._id}}">
                    <div class="rt-vehicle-v2-component-name">
                        <input type="checkbox" 
                               data-action="toggleComponentActive" 
                               data-item-id="{{this._id}}"
                               {{#if this.system.active}}checked{{/if}} />
                        {{this.name}}
                    </div>
                    {{#if this.system.description}}
                    <div class="rt-vehicle-v2-component-desc">
                        {{{this.system.description}}}
                    </div>
                    {{/if}}
                </div>
                {{/each}}
                
                {{#each vehicleUpgrades}}
                <div class="rt-vehicle-v2-component-item" data-item-id="{{this._id}}">
                    <div class="rt-vehicle-v2-component-name">
                        {{this.name}}
                    </div>
                    {{#if this.system.description}}
                    <div class="rt-vehicle-v2-component-desc">
                        {{{this.system.description}}}
                    </div>
                    {{/if}}
                </div>
                {{/each}}
                
                {{#unless (or components.length vehicleUpgrades.length)}}
                <div class="rt-vehicle-v2-empty">No components or upgrades</div>
                {{/unless}}
            </div>
        </div>
        
    </div>
</section>
