{{!-- Vehicle V2 Tab Navigation --}}
<nav class="wh40k-navigation wh40k-vehicle-v2-tabs tabs" data-group="primary">
    {{#each tabs}}
    <a class="item wh40k-tab-btn {{#if active}}active{{/if}} {{cssClass}}" 
       data-action="tab"
       data-group="{{group}}"
       data-tab="{{id}}"
       data-tooltip="{{label}}">
        {{label}}
    </a>
    {{/each}}
</nav>
