{{! Armour Modification Sheet Header }}
<header class="wh40k-item-sheet__header wh40k-armour-mod-header">
    <div class="wh40k-item-sheet__portrait">
        <img class="wh40k-item-sheet__portrait-img" src="{{item.img}}" data-action="editImage" alt="{{item.name}}" title="{{item.name}}" />
        <div class="wh40k-item-sheet__portrait-icon">
            <i class="fas {{icon}}"></i>
        </div>
    </div>

    <div class="wh40k-item-sheet__header-info">
        <input
            class="wh40k-item-sheet__name-input"
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="{{localize 'WH40K.Modification.NamePlaceholder'}}"
        />

        <div class="wh40k-item-sheet__type-badge">
            <i class="fas fa-wrench"></i>
            <span>{{localize "TYPES.Item.armourModification"}}</span>
        </div>

        <div class="wh40k-armour-mod-summary">
            {{#if restrictionsSummary}}
                <div class="wh40k-summary-badge wh40k-summary-badge--restrictions">
                    <i class="fas fa-filter"></i>
                    <span>{{restrictionsSummary}}</span>
                </div>
            {{/if}}

            {{#if modifiersSummary}}
                <div class="wh40k-summary-badge wh40k-summary-badge--modifiers">
                    <i class="fas fa-chart-line"></i>
                    <span>{{modifiersSummary}}</span>
                </div>
            {{/if}}
        </div>
    </div>
</header>