{{!-- Armour Modification Properties Tab --}}
<div class="wh40k-tab-content wh40k-armour-mod-properties" data-tab="properties">
    <div class="wh40k-properties-grid">
        {{!-- Added Properties Column --}}
        <div class="wh40k-properties-column wh40k-properties-column--added">
            <header class="wh40k-properties-header">
                <h3>
                    <i class="fas fa-plus-circle"></i>
                    {{localize "WH40K.Modification.AddedProperties"}}
                </h3>
            </header>
            
            <div class="wh40k-properties-list">
                {{#each addedPropertiesArray}}
                    <div class="wh40k-property-tag wh40k-property-tag--added">
                        <div class="wh40k-property-info">
                            <span class="wh40k-property-label">{{label}}</span>
                            {{#if description}}
                                <span class="wh40k-property-desc">{{description}}</span>
                            {{/if}}
                        </div>
                        <button type="button" 
                                class="wh40k-property-remove" 
                                data-action="removeProperty" 
                                data-property="{{key}}" 
                                data-list="added"
                                data-tooltip="Remove property"
                                {{disabled (not ../isEditable)}}>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                {{else}}
                    <p class="wh40k-empty-state">
                        <i class="fas fa-info-circle"></i>
                        No properties added
                    </p>
                {{/each}}
            </div>
            
            {{#if isEditable}}
                <div class="wh40k-property-add">
                    <label class="wh40k-field-label">Add Property</label>
                    <select class="wh40k-property-select" data-add-list="added">
                        <option value="">-- Select Property --</option>
                        {{#each availablePropertiesArray}}
                            <option value="{{key}}">{{label}}</option>
                        {{/each}}
                    </select>
                    <button type="button" 
                            class="wh40k-property-add-button" 
                            data-action="addProperty" 
                            data-property=""
                            data-list="added">
                        <i class="fas fa-plus"></i>
                        Add
                    </button>
                </div>
            {{/if}}
        </div>
        
        {{!-- Removed Properties Column --}}
        <div class="wh40k-properties-column wh40k-properties-column--removed">
            <header class="wh40k-properties-header">
                <h3>
                    <i class="fas fa-minus-circle"></i>
                    {{localize "WH40K.Modification.RemovedProperties"}}
                </h3>
            </header>
            
            <div class="wh40k-properties-list">
                {{#each removedPropertiesArray}}
                    <div class="wh40k-property-tag wh40k-property-tag--removed">
                        <div class="wh40k-property-info">
                            <span class="wh40k-property-label">{{label}}</span>
                            {{#if description}}
                                <span class="wh40k-property-desc">{{description}}</span>
                            {{/if}}
                        </div>
                        <button type="button" 
                                class="wh40k-property-remove" 
                                data-action="removeProperty" 
                                data-property="{{key}}" 
                                data-list="removed"
                                data-tooltip="Remove property"
                                {{disabled (not ../isEditable)}}>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                {{else}}
                    <p class="wh40k-empty-state">
                        <i class="fas fa-info-circle"></i>
                        No properties removed
                    </p>
                {{/each}}
            </div>
            
            {{#if isEditable}}
                <div class="wh40k-property-add">
                    <label class="wh40k-field-label">Remove Property</label>
                    <select class="wh40k-property-select" data-add-list="removed">
                        <option value="">-- Select Property --</option>
                        {{#each availablePropertiesArray}}
                            <option value="{{key}}">{{label}}</option>
                        {{/each}}
                    </select>
                    <button type="button" 
                            class="wh40k-property-add-button" 
                            data-action="addProperty" 
                            data-property=""
                            data-list="removed">
                        <i class="fas fa-minus"></i>
                        Remove
                    </button>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
// Wire up the select dropdowns to the add buttons
document.querySelectorAll('.wh40k-property-select').forEach(select => {
    select.addEventListener('change', (e) => {
        const list = e.target.dataset.addList;
        const button = e.target.parentElement.querySelector(`[data-list="${list}"]`);
        if (button) {
            button.dataset.property = e.target.value;
            button.disabled = !e.target.value;
        }
    });
});
</script>
