{{!-- Rogue Trader Critical Injury Sheet - Modern Design --}}
<form class="rt-item-sheet" autocomplete="off">
    {{!-- Header --}}
    <div class="rt-item-sheet__header">
        <div class="rt-item-sheet__image-wrapper">
            <img class="rt-item-sheet__image" src="{{item.img}}" data-edit="img" alt="{{item.name}}" title="{{item.name}}" />
        </div>
        <div class="rt-item-sheet__title-area">
            <div class="rt-item-sheet__name-field">
                <label class="rt-item-sheet__name-label">Name</label>
                <input class="rt-item-sheet__name-input" name="name" type="text" value="{{item.name}}" />
            </div>
        </div>
    </div>
    
    {{!-- Main Fields --}}
    <div class="rt-item-sheet__panel">
        <div class="rt-item-sheet__field">
            <label class="rt-item-sheet__label">Source</label>
            <input class="rt-item-sheet__input" name="system.source" type="text" value="{{item.system.source}}" />
        </div>
        
        <div class="rt-item-sheet__field-row">
            <div class="rt-item-sheet__field">
                <label class="rt-item-sheet__label">Type</label>
                <input class="rt-item-sheet__input" name="system.type" type="text" value="{{item.system.type}}" />
            </div>
            <div class="rt-item-sheet__field">
                <label class="rt-item-sheet__label">Part</label>
                <input class="rt-item-sheet__input" name="system.part" type="text" value="{{item.system.part}}" />
            </div>
        </div>
    </div>
    
    {{!-- Description --}}
    <div class="rt-item-sheet__description">
        <div class="rt-item-sheet__field">
            <label class="rt-item-sheet__label">Description</label>
            <textarea class="rt-item-sheet__textarea" name="system.description">{{item.system.description}}</textarea>
        </div>
    </div>
</form>
