<div class="rt-item-sheet">
    <form autocomplete="off">
        <!-- Item Header -->
        <header class="rt-item-header">
            <div class="rt-item-image" data-edit="img">
                <img src="{{item.img}}" alt="{{item.name}}" title="{{item.name}}" />
            </div>
            
            <div class="rt-item-title">
                <input type="text" class="rt-item-title__name" name="name" value="{{item.name}}" placeholder="Item Name" />
                <div class="rt-item-title__type">
                    <i class="fas fa-cube"></i>
                    <span>{{item.type}}</span>
                </div>
            </div>
        </header>

        <!-- Tab Navigation -->
        <nav class="rt-tabs" data-group="primary">
            <a class="rt-tab active" data-tab="description" data-group="primary">
                <i class="fas fa-scroll"></i> Description
            </a>
            <a class="rt-tab" data-tab="effects" data-group="primary">
                <i class="fas fa-magic"></i> Effects
            </a>
        </nav>

        <!-- Tab Content -->
        <section class="rt-tab-content">
            <!-- Description Tab -->
            <div class="tab active" data-tab="description" data-group="primary">
                <div class="rt-panel">
                    <div class="rt-panel__header">
                        <h3><i class="fas fa-scroll"></i> Description</h3>
                    </div>
            <div class="rt-panel__content">
                <div class="rt-description">
                    {{#if inEditMode}}
                        {{editor content=system.description.value target="system.description.value" button=true editable=true engine="prosemirror"}}
                    {{else}}
                        <div class="rt-description-content">{{{system.description.value}}}</div>
                    {{/if}}
                </div>
            </div>
                </div>
            </div>

            <!-- Effects Tab -->
            <div class="tab" data-tab="effects" data-group="primary">
                {{> systems/rogue-trader/templates/item/panel/active-effects-panel.hbs}}
            </div>
        </section>
    </form>
</div>
