{{!-- Rogue Trader Cybernetic Sheet - Modern Design --}}
<form class="rt-item-sheet" autocomplete="off">
    {{!-- Header --}}
    <div class="rt-item-sheet__header">
        <div class="rt-item-sheet__image-wrapper">
            <img class="rt-item-sheet__image" src="{{item.img}}" data-edit="img" alt="{{item.name}}" title="{{item.name}}" />
        </div>
        <div class="rt-item-sheet__title-area">
            <div class="rt-item-sheet__name-field">
                <label class="rt-item-sheet__name-label">Name</label>
                <input class="rt-item-sheet__name-input" name="name" type="text" value="{{item.name}}" />
            </div>
        </div>
    </div>
    
    {{!-- Main Fields --}}
    <div class="rt-item-sheet__panel">
        <div class="rt-item-sheet__field-row">
            <div class="rt-item-sheet__field">
                <label class="rt-item-sheet__label">Source</label>
                <input class="rt-item-sheet__input" name="system.source" type="text" value="{{item.system.source}}" />
            </div>
            <div class="rt-item-sheet__field">
                <label class="rt-item-sheet__label">Weight</label>
                <input class="rt-item-sheet__input" name="system.weight" type="number" data-dtype="Number" value="{{item.system.weight}}" />
            </div>
        </div>
        
        <div class="rt-item-sheet__field-row">
            <div class="rt-item-sheet__field">
                <label class="rt-item-sheet__label">Availability</label>
                <select class="rt-item-sheet__select" name="system.availability">
                    {{selectOptions (arrayToObject dh.items.availability) selected=item.system.availability}}
                </select>
            </div>
            <div class="rt-item-sheet__field">
                <label class="rt-item-sheet__label">Craftsmanship</label>
                <select class="rt-item-sheet__select" name="system.craftsmanship">
                    {{selectOptions (arrayToObject dh.items.craftsmanship) selected=item.system.craftsmanship}}
                </select>
            </div>
        </div>
        
        <div class="rt-item-sheet__field-row">
            <div class="rt-item-sheet__checkbox-field">
                <input class="rt-item-sheet__input" name="system.equipped" type="checkbox" data-dtype="Boolean" {{checked item.system.equipped}} />
                <label class="rt-item-sheet__label">Equipped</label>
            </div>
            <div class="rt-item-sheet__checkbox-field">
                <input class="rt-item-sheet__input" name="system.hasArmourPoints" type="checkbox" data-dtype="Boolean" {{checked item.system.hasArmourPoints}} />
                <label class="rt-item-sheet__label">Has Armour</label>
            </div>
        </div>
    </div>
    
    {{!-- Armour Points (if applicable) --}}
    {{#if item.system.hasArmourPoints}}
        <div class="rt-item-sheet__panel">
            <h3 class="rt-item-sheet__panel-title">Armour Points</h3>
            <div class="rt-item-sheet__stats-grid">
                <div class="rt-item-sheet__stat">
                    <label class="rt-item-sheet__label">Head</label>
                    <input class="rt-item-sheet__input" type="text" name="system.armourPoints.head" value="{{item.system.armourPoints.head}}" />
                </div>
                <div class="rt-item-sheet__stat">
                    <label class="rt-item-sheet__label">Body</label>
                    <input class="rt-item-sheet__input" type="text" name="system.armourPoints.body" value="{{item.system.armourPoints.body}}" />
                </div>
                <div class="rt-item-sheet__stat">
                    <label class="rt-item-sheet__label">Left Arm</label>
                    <input class="rt-item-sheet__input" type="text" name="system.armourPoints.leftArm" value="{{item.system.armourPoints.leftArm}}" />
                </div>
                <div class="rt-item-sheet__stat">
                    <label class="rt-item-sheet__label">Right Arm</label>
                    <input class="rt-item-sheet__input" type="text" name="system.armourPoints.rightArm" value="{{item.system.armourPoints.rightArm}}" />
                </div>
                <div class="rt-item-sheet__stat">
                    <label class="rt-item-sheet__label">Left Leg</label>
                    <input class="rt-item-sheet__input" type="text" name="system.armourPoints.leftLeg" value="{{item.system.armourPoints.leftLeg}}" />
                </div>
                <div class="rt-item-sheet__stat">
                    <label class="rt-item-sheet__label">Right Leg</label>
                    <input class="rt-item-sheet__input" type="text" name="system.armourPoints.rightLeg" value="{{item.system.armourPoints.rightLeg}}" />
                </div>
            </div>
        </div>
    {{/if}}
    
    {{!-- Description --}}
    <div class="rt-item-sheet__description">
        <div class="rt-item-sheet__field">
            <label class="rt-item-sheet__label">Description</label>
            <textarea class="rt-item-sheet__textarea" name="system.description">{{item.system.description}}</textarea>
        </div>
    </div>
</form>