<section class="rt-item-sheet__panel">
    <h2 class="rt-item-sheet__panel-title">
        <span class="material-icons">auto_fix_high</span>
        Active Effects
        {{#unless item.isEmbedded}}
        <button type="button" class="rt-item-sheet__panel-action effect-create" title="Add Effect">
            <span class="material-icons">add_circle</span>
        </button>
        {{/unless}}
    </h2>

    {{#if effects.length}}
    <div class="rt-item-sheet__effects-list">
        {{#each effects as |effect|}}
        <div class="rt-item-sheet__effect {{#if effect.disabled}}rt-item-sheet__effect--disabled{{/if}}">
            {{#unless @root.item.isEmbedded}}
            <button type="button" class="rt-item-sheet__effect-btn effect-edit" data-effect-id="{{effect.id}}" title="Edit Effect">
                <span class="material-icons">settings</span>
            </button>
            {{/unless}}
            <span class="rt-item-sheet__effect-name">{{effect.label}}</span>
            {{#unless @root.item.isEmbedded}}
            <div class="rt-item-sheet__effect-controls">
                {{#if effect.disabled}}
                <button type="button" class="rt-item-sheet__effect-btn effect-enable" data-effect-id="{{effect.id}}" title="Enable Effect">
                    <span class="material-icons">flash_on</span>
                </button>
                {{else}}
                <button type="button" class="rt-item-sheet__effect-btn effect-disable" data-effect-id="{{effect.id}}" title="Disable Effect">
                    <span class="material-icons">flash_off</span>
                </button>
                {{/if}}
                <button type="button" class="rt-item-sheet__effect-btn rt-item-sheet__effect-btn--danger effect-delete" data-effect-id="{{effect.id}}" title="Delete Effect">
                    <span class="material-icons">delete</span>
                </button>
            </div>
            {{/unless}}
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="rt-item-sheet__empty rt-item-sheet__empty--small">
        <span class="material-icons">auto_fix_off</span>
        <p>No active effects</p>
    </div>
    {{/if}}
</section>
