{{!-- 
  Stat Bar Partial
  Displays a horizontal bar of stat pills
  
  Usage:
  {{> "systems/wh40k-rpg/templates/item/panel/stat-bar.hbs" stats=statsArray}}
  
  @param {Array} stats - Array of stat objects with:
    - icon: Font Awesome icon class (optional)
    - label: Stat label
    - value: Stat value
    - modifier: "positive" | "negative" | "neutral" (optional)
    - rollable: boolean (optional)
    - action: action handler name (optional)
    - dataset: object of data attributes (optional)
--}}

<div class="wh40k-stat-bar">
  {{#each stats}}
  <div class="wh40k-stat-pill {{#if this.modifier}}wh40k-stat-pill--{{this.modifier}}{{/if}} {{#if this.rollable}}wh40k-stat-pill--rollable{{/if}}"
       {{#if this.action}}data-action="{{this.action}}"{{/if}}
       {{#if this.dataset}}{{#each this.dataset as |value key|}}data-{{key}}="{{value}}"{{/each}}{{/if}}>
    {{#if this.icon}}
    <i class="{{this.icon}} wh40k-stat-pill__icon"></i>
    {{/if}}
    <span class="wh40k-stat-pill__value">{{this.value}}</span>
    {{#if this.label}}
    <span class="wh40k-stat-pill__label">{{this.label}}</span>
    {{/if}}
  </div>
  {{/each}}
</div>
