<li class="compendium-item actor flexrow" data-document-id="{{actor._id}}" draggable="true">
    <img class="item-image" src="{{actor.img}}" alt="{{actor.name}}" />
    <div class="item-details">
        <h4 class="item-name">{{actor.name}}</h4>
        <div class="item-stats">
            {{#if actor.system.characteristics}}
            <span class="stat">WS: {{actor.system.characteristics.weaponSkill.base}}</span>
            <span class="stat">BS: {{actor.system.characteristics.ballisticSkill.base}}</span>
            <span class="stat">S: {{actor.system.characteristics.strength.base}}</span>
            <span class="stat">T: {{actor.system.characteristics.toughness.base}}</span>
            {{/if}}
        </div>
        {{#if actor.system.wounds}}
        <span class="stat wounds">Wounds: {{actor.system.wounds.max}}</span>
        {{/if}}
    </div>
    <div class="item-type">
        <span class="tag">{{localize (concat "TYPES.Actor." actor.type)}}</span>
    </div>
</li>
