<li class="compendium-item ammunition flexrow" data-document-id="{{item._id}}" draggable="true">
    <img class="item-image" src="{{item.img}}" alt="{{item.name}}" />
    <div class="item-details">
        <h4 class="item-name">{{item.name}}</h4>
        <div class="item-stats">
            {{#if item.system.usedWith}}
            <span class="stat used-with">{{item.system.usedWith}}</span>
            {{/if}}
            {{#if item.system.qualities}}
            <span class="stat qualities">{{item.system.qualities}}</span>
            {{/if}}
        </div>
        {{#if item.system.source}}
        <span class="item-source">{{item.system.source}}</span>
        {{/if}}
    </div>
    <div class="item-availability">
        {{#if item.system.availability}}
        <span class="tag availability">{{item.system.availability}}</span>
        {{/if}}
    </div>
</li>
