<li class="compendium-item psychic-power flexrow" data-document-id="{{item._id}}" draggable="true">
    <img class="item-image" src="{{item.img}}" alt="{{item.name}}" />
    <div class="item-details">
        <h4 class="item-name">{{item.name}}</h4>
        <div class="item-stats">
            {{#if item.system.discipline}}
            <span class="stat discipline">{{item.system.discipline}}</span>
            {{/if}}
            {{#if item.system.cost}}
            <span class="stat cost">Cost: {{item.system.cost}}</span>
            {{/if}}
            {{#if item.system.sustained}}
            <span class="stat sustained">{{item.system.sustained}}</span>
            {{/if}}
        </div>
        {{#if item.system.source}}
        <span class="item-source">{{item.system.source}}</span>
        {{/if}}
    </div>
    <div class="item-action">
        {{#if item.system.action}}
        <span class="tag action">{{item.system.action}}</span>
        {{/if}}
    </div>
</li>
