<li class="compendium-item weapon flexrow" data-document-id="{{item._id}}" draggable="true">
    <img class="item-image" src="{{item.img}}" alt="{{item.name}}" />
    <div class="item-details">
        <h4 class="item-name">{{item.name}}</h4>
        <div class="item-stats">
            {{#if item.system.class}}
            <span class="stat">{{item.system.class}}</span>
            {{/if}}
            {{#if item.system.damage}}
            <span class="stat damage">{{item.system.damage}} {{item.system.damageType}}</span>
            {{/if}}
            {{#if item.system.penetration}}
            <span class="stat pen">Pen {{item.system.penetration}}</span>
            {{/if}}
        </div>
        {{#if item.system.source}}
        <span class="item-source">{{item.system.source}}</span>
        {{/if}}
    </div>
    <div class="item-availability">
        {{#if item.system.availability}}
        <span class="tag availability">{{item.system.availability}}</span>
        {{/if}}
    </div>
</li>
