{{!-- Active Modifiers Panel --}}
{{!-- Shows all active modifiers on the character --}}
<div class="wh40k-panel wh40k-panel--modifiers {{#if modifiers.collapsed}}wh40k-panel--collapsed{{/if}}">
    <div class="wh40k-panel-header">
        <button type="button" class="wh40k-panel-toggle" data-action="toggleModifiersPanel">
            <i class="fa-solid {{#if modifiers.collapsed}}fa-chevron-down{{else}}fa-chevron-up{{/if}}"></i>
        </button>
        <span class="wh40k-panel-title">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            Active Modifiers
        </span>
        <span class="wh40k-modifier-count">
            {{add (add (add (add modifiers.conditions.length modifiers.talents.length) modifiers.traits.length) modifiers.equipment.length) modifiers.effects.length}}
        </span>
    </div>

    {{#unless modifiers.collapsed}}
    <div class="wh40k-panel-body">
        {{#if (or modifiers.conditions.length modifiers.talents.length modifiers.traits.length modifiers.equipment.length modifiers.effects.length)}}
            <div class="wh40k-modifiers-list">
                {{!-- Conditions --}}
                {{#if modifiers.conditions.length}}
                <div class="wh40k-modifier-group">
                    <div class="wh40k-modifier-group-header">
                        <i class="fa-solid fa-exclamation-triangle"></i>
                        Conditions
                    </div>
                    {{#each modifiers.conditions as |mod|}}
                    <div class="wh40k-modifier-item wh40k-modifier-item--condition wh40k-modifier-item--{{mod.nature}}">
                        <div class="wh40k-modifier-item-icon">
                            <img src="{{mod.img}}" alt="{{mod.name}}" />
                        </div>
                        <div class="wh40k-modifier-item-content">
                            <button type="button" class="wh40k-modifier-item-name" data-action="viewModifierSource" data-item-id="{{mod.id}}">
                                {{mod.name}}
                                {{#if (gt mod.stacks 1)}}
                                <span class="wh40k-modifier-stacks">×{{mod.stacks}}</span>
                                {{/if}}
                            </button>
                            <div class="wh40k-modifier-item-description">{{mod.description}}</div>
                            <div class="wh40k-modifier-item-duration">{{mod.duration}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}

                {{!-- Talents --}}
                {{#if modifiers.talents.length}}
                <div class="wh40k-modifier-group">
                    <div class="wh40k-modifier-group-header">
                        <i class="fa-solid fa-graduation-cap"></i>
                        Talents
                    </div>
                    {{#each modifiers.talents as |mod|}}
                    <div class="wh40k-modifier-item wh40k-modifier-item--talent {{#unless mod.active}}wh40k-modifier-item--inactive{{/unless}}">
                        <div class="wh40k-modifier-item-icon">
                            <img src="{{mod.img}}" alt="{{mod.name}}" />
                        </div>
                        <div class="wh40k-modifier-item-content">
                            <button type="button" class="wh40k-modifier-item-name" data-action="viewModifierSource" data-item-id="{{mod.id}}">
                                {{mod.name}}
                            </button>
                            <div class="wh40k-modifier-item-description">{{mod.description}}</div>
                            <div class="wh40k-modifier-item-duration">{{mod.duration}}</div>
                        </div>
                        {{#if mod.canToggle}}
                        <button type="button" class="wh40k-modifier-item-toggle" data-action="toggleModifier" data-item-id="{{mod.id}}" title="{{#if mod.active}}Deactivate{{else}}Activate{{/if}}">
                            <i class="fa-solid {{#if mod.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i>
                        </button>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                {{/if}}

                {{!-- Traits --}}
                {{#if modifiers.traits.length}}
                <div class="wh40k-modifier-group">
                    <div class="wh40k-modifier-group-header">
                        <i class="fa-solid fa-dna"></i>
                        Traits
                    </div>
                    {{#each modifiers.traits as |mod|}}
                    <div class="wh40k-modifier-item wh40k-modifier-item--trait">
                        <div class="wh40k-modifier-item-icon">
                            <img src="{{mod.img}}" alt="{{mod.name}}" />
                        </div>
                        <div class="wh40k-modifier-item-content">
                            <button type="button" class="wh40k-modifier-item-name" data-action="viewModifierSource" data-item-id="{{mod.id}}">
                                {{mod.name}}
                            </button>
                            <div class="wh40k-modifier-item-description">{{mod.description}}</div>
                            <div class="wh40k-modifier-item-duration">{{mod.duration}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}

                {{!-- Equipment --}}
                {{#if modifiers.equipment.length}}
                <div class="wh40k-modifier-group">
                    <div class="wh40k-modifier-group-header">
                        <i class="fa-solid fa-shield"></i>
                        Equipment
                    </div>
                    {{#each modifiers.equipment as |mod|}}
                    <div class="wh40k-modifier-item wh40k-modifier-item--equipment">
                        <div class="wh40k-modifier-item-icon">
                            <img src="{{mod.img}}" alt="{{mod.name}}" />
                        </div>
                        <div class="wh40k-modifier-item-content">
                            <button type="button" class="wh40k-modifier-item-name" data-action="viewModifierSource" data-item-id="{{mod.id}}">
                                {{mod.name}}
                            </button>
                            <div class="wh40k-modifier-item-description">{{mod.description}}</div>
                            <div class="wh40k-modifier-item-duration">{{mod.duration}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}

                {{!-- Active Effects --}}
                {{#if modifiers.effects.length}}
                <div class="wh40k-modifier-group">
                    <div class="wh40k-modifier-group-header">
                        <i class="fa-solid fa-sparkles"></i>
                        Effects
                    </div>
                    {{#each modifiers.effects as |mod|}}
                    <div class="wh40k-modifier-item wh40k-modifier-item--effect {{#unless mod.active}}wh40k-modifier-item--inactive{{/unless}}">
                        <div class="wh40k-modifier-item-icon">
                            <img src="{{mod.img}}" alt="{{mod.name}}" />
                        </div>
                        <div class="wh40k-modifier-item-content">
                            <div class="wh40k-modifier-item-name">{{mod.name}}</div>
                            <div class="wh40k-modifier-item-description">{{mod.description}}</div>
                            <div class="wh40k-modifier-item-duration">{{mod.duration}}</div>
                        </div>
                        {{#if mod.canToggle}}
                        <button type="button" class="wh40k-modifier-item-toggle" data-action="toggleModifier" data-item-id="{{mod.id}}" title="{{#if mod.active}}Deactivate{{else}}Activate{{/if}}">
                            <i class="fa-solid {{#if mod.active}}fa-toggle-on{{else}}fa-toggle-off{{/if}}"></i>
                        </button>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        {{else}}
            <div class="wh40k-modifiers-empty">
                <i class="fa-solid fa-circle-info"></i>
                <p>No active modifiers</p>
            </div>
        {{/if}}
    </div>
    {{/unless}}
</div>
