{{!-- Acolyte Sheet Tab Navigation --}}
{{!-- This part renders the tab navigation bar --}}
<nav class="wh40k-navigation tabs" data-group="primary">
    {{#each tabs}}
    <a class="item wh40k-nav-item {{#if active}}active{{/if}} {{ cssClass }}" 
       data-action="tab" 
       data-group="{{ group }}"
       data-tab="{{ tab }}" 
       data-tooltip="{{ label }}">
        {{ label }}
    </a>
    {{/each}}
    <button type="button"
            class="wh40k-utility-menu-btn"
            data-action="showUtilityMenu"
            data-tooltip="{{localize 'WH40K.Utility.MenuTooltip'}}">
        <i class="fa-solid fa-gear"></i>
    </button>

</nav>
