{{!-- Rogue Trader Item Card Chat Template --}}
<div class="dh-wrapper">
    <div class="dh-chat rt-item-card">
        <div class="rt-item-card-header">
            <img class="rt-item-card-img" src="{{item.img}}" alt="{{item.name}}" />
            <div class="rt-item-card-title">
                <h1 class="rt-item-card-name">{{item.name}}</h1>
                <span class="rt-item-card-type">{{itemTypeLabel}}</span>
            </div>
        </div>
        
        <div class="dh-roll__divider"></div>
        
        {{#if item.system.category}}
            <div class="rt-item-card-field">
                <span class="rt-item-card-label">Category:</span>
                <span class="rt-item-card-value">{{item.system.category}}</span>
            </div>
        {{/if}}

        {{#if item.system.requirements}}
            <div class="rt-item-card-field">
                <span class="rt-item-card-label">Requirements:</span>
                <span class="rt-item-card-value">{{item.system.requirements}}</span>
            </div>
        {{/if}}

        {{#if item.system.effect}}
            <div class="rt-item-card-section">
                <h3 class="rt-item-card-section-title">Effect</h3>
                <div class="rt-item-card-description">{{{item.system.effect}}}</div>
            </div>
        {{/if}}

        {{#if item.system.benefit}}
            <div class="rt-item-card-section">
                <h3 class="rt-item-card-section-title">Benefit</h3>
                <div class="rt-item-card-description">{{{item.system.benefit}}}</div>
            </div>
        {{/if}}

        {{!-- Weapon Stats --}}
        {{#if isWeapon}}
            <div class="rt-item-card-stats">
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Class:</span>
                    <span class="rt-stat-value">{{item.system.class}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Type:</span>
                    <span class="rt-stat-value">{{item.system.type}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Damage:</span>
                    <span class="rt-stat-value">{{item.system.damage}} {{item.system.damageType}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Penetration:</span>
                    <span class="rt-stat-value">{{item.system.penetration}}</span>
                </div>
                {{#if item.system.range}}
                    <div class="rt-stat-row">
                        <span class="rt-stat-name">Range:</span>
                        <span class="rt-stat-value">{{item.system.range}}</span>
                    </div>
                {{/if}}
                {{#if item.system.rof}}
                    <div class="rt-stat-row">
                        <span class="rt-stat-name">Rate of Fire:</span>
                        <span class="rt-stat-value">{{item.system.rof}}</span>
                    </div>
                {{/if}}
                {{#if item.system.special}}
                    <div class="rt-stat-row rt-stat-row--full">
                        <span class="rt-stat-name">Special:</span>
                        <span class="rt-stat-value">{{item.system.special}}</span>
                    </div>
                {{/if}}
            </div>
        {{/if}}

        {{!-- Navigator Power Stats --}}
        {{#if isNavigatorPower}}
            <div class="rt-item-card-stats">
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Use Time:</span>
                    <span class="rt-stat-value">{{item.system.useTime}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Range:</span>
                    <span class="rt-stat-value">{{item.system.range}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Test:</span>
                    <span class="rt-stat-value">{{item.system.test}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Sustain:</span>
                    <span class="rt-stat-value">{{item.system.sustain}}</span>
                </div>
            </div>
            {{#if item.system.novice}}
                <div class="rt-item-card-section">
                    <h3 class="rt-item-card-section-title">Novice</h3>
                    <div class="rt-item-card-description">{{item.system.novice}}</div>
                </div>
            {{/if}}
            {{#if item.system.adept}}
                <div class="rt-item-card-section">
                    <h3 class="rt-item-card-section-title">Adept</h3>
                    <div class="rt-item-card-description">{{item.system.adept}}</div>
                </div>
            {{/if}}
            {{#if item.system.master}}
                <div class="rt-item-card-section">
                    <h3 class="rt-item-card-section-title">Master</h3>
                    <div class="rt-item-card-description">{{item.system.master}}</div>
                </div>
            {{/if}}
        {{/if}}

        {{!-- Ship Component Stats --}}
        {{#if isShipComponent}}
            <div class="rt-item-card-stats">
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Type:</span>
                    <span class="rt-stat-value">{{item.system.componentType}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Hull Type:</span>
                    <span class="rt-stat-value">{{item.system.hullType}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Power:</span>
                    <span class="rt-stat-value">{{item.system.powerUsage}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">Space:</span>
                    <span class="rt-stat-value">{{item.system.spaceUsage}}</span>
                </div>
                <div class="rt-stat-row">
                    <span class="rt-stat-name">SP Cost:</span>
                    <span class="rt-stat-value">{{item.system.spCost}}</span>
                </div>
            </div>
        {{/if}}

        {{!-- Generic Description --}}
        {{#if item.system.description.value}}
            <div class="rt-item-card-section">
                <div class="rt-item-card-description">{{{item.system.description.value}}}</div>
            </div>
        {{/if}}

        {{!-- Source --}}
        {{#if item.system.source}}
            <div class="rt-item-card-footer">
                <span class="rt-item-card-source">{{item.system.source}}</span>
            </div>
        {{/if}}

        {{!-- Action Buttons --}}
        {{#if hasActions}}
            <div class="rt-item-card-actions">
                {{#if isRollable}}
                    <button class="rt-action-button rt-action-roll" data-item-id="{{item._id}}" data-action="roll">
                        <span class="material-icons">casino</span>
                        Roll
                    </button>
                {{/if}}
                {{#if isWeapon}}
                    <button class="rt-action-button rt-action-attack" data-item-id="{{item._id}}" data-action="attack">
                        <span class="material-icons">gps_fixed</span>
                        Attack
                    </button>
                    <button class="rt-action-button rt-action-damage" data-item-id="{{item._id}}" data-action="damage">
                        <span class="material-icons">whatshot</span>
                        Damage
                    </button>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
