{{! Movement Chat Card }}
{{#> systems/wh40k-rpg/templates/chat/partial/chat-card-shell.hbs
      cardClass=(concat "wh40k-movement-card wh40k-movement-card--" movementType)
      outerExtraClass="tw-relative tw-overflow-hidden tw-rounded-md"
      iconClass=icon
      title=actor
      subtitle=(concat "Movement: " movementLabel)}}
        <div class="wh40k-movement-display">
            <div class="wh40k-movement-value">
                <span class="wh40k-movement-distance">{{distance}}</span>
                <span class="wh40k-movement-unit">meters</span>
            </div>
            <div class="wh40k-movement-type-badge wh40k-badge wh40k-badge--{{movementType}}">
                <i class="fas {{icon}}"></i>
                {{movementLabel}}
            </div>
        </div>

        {{#if description}}
            <div class="wh40k-movement-description">
                {{{description}}}
            </div>
        {{/if}}
{{/chat-card-shell}}
