<div class="rt-panel rt-effects-panel">
    <div class="rt-panel-header">
        <span class="rt-panel-title">
            <i class="fas fa-bolt"></i> Active Effects
        </span>
        <button type="button" class="rt-effects-add effect-create" title="Add Effect">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="rt-panel-body">
        <div class="rt-effects-list">
        {{#each effects as |effect|}}
            <div class="rt-effect-row {{#if effect.disabled}}rt-effect-disabled{{/if}}">
                <button type="button" class="rt-effect-edit effect-edit" data-effect-id="{{effect.id}}" title="Edit">
                    <i class="fas fa-cog"></i>
                </button>
                <span class="rt-effect-name">{{effect.label}}</span>
                <div class="rt-effect-actions">
                    {{#if effect.disabled}}
                        <button type="button" class="rt-effect-btn effect-enable" data-effect-id="{{effect.id}}" title="Enable">
                            <i class="fas fa-bolt"></i>
                        </button>
                    {{else}}
                        <button type="button" class="rt-effect-btn effect-disable" data-effect-id="{{effect.id}}" title="Disable">
                            <i class="fas fa-bolt-slash"></i>
                        </button>
                    {{/if}}
                    <button type="button" class="rt-effect-btn effect-delete" data-effect-id="{{effect.id}}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>
