{{!-- Active Effects - Compact Vitals Version --}}
{{!-- Designed to fit in the Combat tab vitals column --}}
<div class="wh40k-vital-stat wh40k-vital-effects">
    <div class="wh40k-vital-stat-header">
        <div class="wh40k-vital-label">
            <i class="fas fa-sparkles"></i>
            <span>EFFECTS</span>
            {{#if effects.length}}
                <span class="wh40k-effects-count">({{effects.length}})</span>
            {{/if}}
        </div>
    </div>
    <div class="wh40k-vital-stat-body">
        {{#if effects.length}}
            <div class="wh40k-effects-compact-list">
                {{#each effects as |effect|}}
                    <div class="wh40k-effect-compact {{#if effect.disabled}}wh40k-effect-compact--disabled{{/if}}" 
                         data-effect-id="{{effect.id}}"
                         title="{{effect.label}}{{#if effect.sourceName}} (from {{effect.sourceName}}){{/if}}">
                        <img src="{{effect.icon}}" class="wh40k-effect-compact-icon" alt="" />
                        <span class="wh40k-effect-compact-name">{{effect.label}}</span>
                        <div class="wh40k-effect-compact-controls">
                            <button type="button" 
                                    class="wh40k-effect-compact-btn" 
                                    data-action="effectToggle"
                                    data-effect-id="{{effect.id}}"
                                    title="{{#if effect.disabled}}Enable{{else}}Disable{{/if}}">
                                <i class="fas {{#if effect.disabled}}fa-toggle-off{{else}}fa-toggle-on{{/if}}"></i>
                            </button>
                            <button type="button" 
                                    class="wh40k-effect-compact-btn wh40k-effect-compact-btn--danger" 
                                    data-action="effectDelete"
                                    data-effect-id="{{effect.id}}"
                                    title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div class="wh40k-effects-empty">
                <i class="fas fa-sparkles"></i>
                <span>No active effects</span>
            </div>
        {{/if}}
    </div>
</div>
