<div class="wh40k-panel tw-col-auto">
    <div class="wh40k-panel-header">
        <span class="wh40k-panel-title">Armour</span>
    </div>
    <div class="wh40k-panel-body">
        <div class="wh40k-table--border wh40k-armourtable--border">
        <div class="table-row--head">
            <div class="table-cell--span2">Name</div>
            <div class="table-cell">Type</div>
            <div class="table-cell">AP</div>
            <div class="table-cell">Equipped</div>
            <div class="table-cell--last">
                <label class="wh40k-control-button" data-action="itemCreate" data-type="armour">
                    <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each actor.items as | item |}}
            {{#if item.isArmour}}
                <div class="table-row item-drag" data-item-id="{{item.id}}" data-item-type="armour">
                    <div class="table-cell--settingstoggle">
                        <label class="wh40k-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--left">
                        {{> systems/wh40k-rpg/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.type}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{armourDisplay item.system}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.equipped}}</span>
                    </div>
                    <div class="table-cell--last">
                        <label class="wh40k-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'delete'}}</span>
                        </label>
                    </div>
                <div class="table-cell--description description_{{item.id}}" {{hideIfNot
                    (isExpanded (concat 'description_' item.id ))}}>
                    <div class="wh40k-settings">
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Head</span>
                                <span class="wh40k-field__span">{{armourLocation item.system "head"}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Left Arm</span>
                                <span class="wh40k-field__span">{{armourLocation item.system "leftArm"}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Right Arm</span>
                                <span class="wh40k-field__span">{{armourLocation item.system "rightArm"}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Body</span>
                                <span class="wh40k-field__span">{{armourLocation item.system "body"}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Left Leg</span>
                                <span class="wh40k-field__span">{{armourLocation item.system "leftLeg"}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Right Leg</span>
                                <span class="wh40k-field__span">{{armourLocation item.system "rightLeg"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{/each}}
        </div>
    </div>
</div>
