<div class="dh-panel spacer dh-grid-col-6 dh-grid-row-1">
    <h1 class="dh-panel__header">{{localize "RT.Biography.Header"}}</h1>
    <div class="dh-header__info rt-bio-grid">
        <div class="dh-header__item-wrapper">
            <span class="dh-header__title">{{localize "RT.Biography.Gender"}}</span>
            <input class="dh-header__input" name="system.bio.gender" type="text" value="{{system.bio.gender}}" />
        </div>
        <div class="dh-header__item-wrapper">
            <span class="dh-header__title">{{localize "RT.Biography.Age"}}</span>
            <input class="dh-header__input" name="system.bio.age" type="text" value="{{system.bio.age}}" />
        </div>
        <div class="dh-header__item-wrapper">
            <span class="dh-header__title">{{localize "RT.Biography.Build"}}</span>
            <input class="dh-header__input" name="system.bio.build" type="text" value="{{system.bio.build}}" />
        </div>
        <div class="dh-header__item-wrapper">
            <span class="dh-header__title">{{localize "RT.Biography.Complexion"}}</span>
            <input class="dh-header__input" name="system.bio.complexion" type="text" value="{{system.bio.complexion}}" />
        </div>
        <div class="dh-header__item-wrapper--span-2">
            <span class="dh-header__title">{{localize "RT.Biography.Hair"}}</span>
            <input class="dh-header__input" name="system.bio.hair" type="text" value="{{system.bio.hair}}" />
        </div>
        <div class="dh-header__item-wrapper--span-2">
            <span class="dh-header__title">{{localize "RT.Biography.Quirks"}}</span>
            <input class="dh-header__input" name="system.bio.quirks" type="text" value="{{system.bio.quirks}}" />
        </div>
        <div class="dh-header__item-wrapper--span-4">
            <span class="dh-header__title">{{localize "RT.Biography.Superstition"}}</span>
            <input class="dh-header__input" name="system.bio.superstition" type="text" value="{{system.bio.superstition}}" />
        </div>
        <div class="dh-header__item-wrapper--span-4">
            <span class="dh-header__title">{{localize "RT.Biography.Mementos"}}</span>
            <input class="dh-header__input" name="system.bio.mementos" type="text" value="{{system.bio.mementos}}" />
        </div>
        <div class="dh-header__item-wrapper--text-area">
            <span class="dh-header__title">{{localize "RT.Biography.Notes"}}</span>
            <textarea class="dh-header__textarea" name="system.bio.notes" rows="4">{{system.bio.notes}}</textarea>
        </div>
    </div>
</div>
