<div class="wh40k-panel tw-col-auto {{isError actor.encumbrance.encumbered}}">
    <div class="wh40k-panel-header">
        <span class="wh40k-panel-title">
            {{#if actor.encumbrance.encumbered}}
                Encumbrance (overweight)
            {{else}}
                Encumbrance
            {{/if}}
        </span>
    </div>
    <div class="wh40k-panel-body">
        <div class="wh40k-field__wrapper">
            <span class="wh40k-field__header">Current Enc.</span>
            <span class="wh40k-field__span">{{actor.encumbrance.value}}</span>
        </div>
        <div class="wh40k-field__wrapper">
            <span class="wh40k-field__header">Max Enc.</span>
            <span class="wh40k-field__span">{{actor.encumbrance.max}}</span>
        </div>
        {{#if actor.backpack.hasBackpack}}
            {{#unless actor.backpack.isCombatVest}}
                <div class="wh40k-field__wrapper">
                    <span class="wh40k-field__header">Backpack Current Enc.</span>
                    <span class="wh40k-field__span">{{actor.encumbrance.backpack_value}}</span>
                </div>
                <div class="wh40k-field__wrapper">
                    <span class="wh40k-field__header">Backpack Max Enc.</span>
                    <span class="wh40k-field__span">{{actor.encumbrance.backpack_max}}</span>
                </div>
            {{/unless}}
        {{/if}}
    </div>
</div>