<div class="rt-panel spacer rt-grid-col-3 rt-grid-row-2">
    <div class="rt-panel-header">
        <span class="rt-panel-title">{{localize "RT.NavigatorPowers.Header"}}</span>
    </div>
    <div class="rt-panel-body">
        <div class="rt-table--border">
        <div class="table-row--head">
            <div class="table-cell--span2">{{localize "RT.NavigatorPowers.Name"}}</div>
            <div class="table-cell">{{localize "RT.NavigatorPowers.Range"}}</div>
            <div class="table-cell">{{localize "RT.NavigatorPowers.Test"}}</div>
            <div class="table-cell--last">
                <label class="rt-control-button">
                    <span class="rt-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each navigatorPowers as |power|}}
            <div class="table-row">
                <div class="table-cell--span2">
                    <button class="item-name" data-item-id="{{power._id}}" type="button">
                        <img class="rt-item-img" src="{{power.img}}" alt="{{power.name}}" />
                        {{power.name}}
                    </button>
                </div>
                <div class="table-cell">{{power.system.range}}</div>
                <div class="table-cell">{{power.system.test}}</div>
                <div class="table-cell--last">
                    <label class="rt-control-button item-delete" data-item-id="{{power._id}}">
                        <span class="rt-control-button__span material-icons">delete</span>
                    </label>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>
