<div class="rt-panel spacer rt-grid-col-3 rt-grid-row-1">
    <div class="rt-panel-header">
        <span class="rt-panel-title">{{localize "RT.Orders.Header"}}</span>
    </div>
    <div class="rt-panel-body">
        <div class="rt-table--border">
        <div class="table-row--head">
            <div class="table-cell--span2">{{localize "RT.Orders.Name"}}</div>
            <div class="table-cell">{{localize "RT.Orders.Action"}}</div>
            <div class="table-cell--last">
                <label class="rt-control-button" data-action="itemCreate" data-type="order">
                    <span class="rt-control-button__span material-icons">add_circle</span>
                </label>
            </div>
        </div>
        {{#each actor.items as |item|}}
            {{#if item.isOrder}}
                <div class="table-row">
                    <div class="table-cell--span2">
                        <button class="item-name rt-item-button" data-item-id="{{item.id}}" type="button">
                            <img class="rt-item-img" src="{{item.img}}" alt="{{item.name}}" />
                            {{item.name}}
                        </button>
                    </div>
                    <div class="table-cell rt-action-cell">{{item.system.typeAndAction}}</div>
                    <div class="table-cell--last">
                        <label class="rt-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">delete</span>
                        </label>
                    </div>
                </div>
            {{/if}}
        {{/each}}
        </div>
    </div>
</div>
