<div class="wh40k-panel wh40k-psy-panel">
    <div class="wh40k-panel-header">
        <span class="wh40k-panel-title"><i class="fas fa-brain"></i> Psyker</span>
    </div>
    <div class="wh40k-panel-body">
        <div class="wh40k-vital-edit-grid">
            <label class="wh40k-vital-edit-field">
                <span class="wh40k-edit-label">Psy Rating</span>
                <input type="number" data-dtype="Number" class="wh40k-vital-input" name="system.psy.rating" value="{{actor.psy.rating}}" min="0" />
            </label>
            <label class="wh40k-vital-edit-field">
                <span class="wh40k-edit-label">Sustained</span>
                <input type="number" data-dtype="Number" class="wh40k-vital-input" name="system.psy.sustained" value="{{actor.psy.sustained}}" min="0" />
            </label>
        </div>
        <div class="wh40k-vital-edit-grid">
            <label class="wh40k-vital-edit-field">
                <span class="wh40k-edit-label">Psyker Class</span>
                <input type="text" class="wh40k-vital-input" name="system.psy.class" value="{{actor.psy.class}}" placeholder="e.g. Biomancer" />
            </label>
            <label class="wh40k-vital-edit-field wh40k-checkbox-field">
                <span class="wh40k-edit-label">Has Psy Focus</span>
                <div class="wh40k-checkbox-wrapper">
                    <input {{checked actor.psy.hasFocus}} data-dtype="Boolean" type="checkbox" name="system.psy.hasFocus" class="wh40k-checkbox" />
                    <span class="wh40k-checkbox-label">{{#if actor.psy.hasFocus}}Yes{{else}}No{{/if}}</span>
                </div>
            </label>
        </div>
    </div>
</div>