<div class="rt-panel rt-psy-panel">
    <div class="rt-panel-header">
        <span class="rt-panel-title"><i class="fas fa-brain"></i> Psyker</span>
    </div>
    <div class="rt-panel-body">
        <div class="rt-vital-edit-grid">
            <label class="rt-vital-edit-field">
                <span class="rt-edit-label">Psy Rating</span>
                <input type="number" data-dtype="Number" class="rt-vital-input" name="system.psy.rating" value="{{actor.psy.rating}}" min="0" />
            </label>
            <label class="rt-vital-edit-field">
                <span class="rt-edit-label">Sustained</span>
                <input type="number" data-dtype="Number" class="rt-vital-input" name="system.psy.sustained" value="{{actor.psy.sustained}}" min="0" />
            </label>
        </div>
        <div class="rt-vital-edit-grid">
            <label class="rt-vital-edit-field">
                <span class="rt-edit-label">Psyker Class</span>
                <input type="text" class="rt-vital-input" name="system.psy.class" value="{{actor.psy.class}}" placeholder="e.g. Biomancer" />
            </label>
            <label class="rt-vital-edit-field rt-checkbox-field">
                <span class="rt-edit-label">Has Psy Focus</span>
                <div class="rt-checkbox-wrapper">
                    <input {{checked actor.psy.hasFocus}} data-dtype="Boolean" type="checkbox" name="system.psy.hasFocus" class="rt-checkbox" />
                    <span class="rt-checkbox-label">{{#if actor.psy.hasFocus}}Yes{{else}}No{{/if}}</span>
                </div>
            </label>
        </div>
    </div>
</div>
