<div class="wh40k-panel spacer wh40k-grid-col-3 wh40k-grid-row-1">
    <div class="wh40k-panel-header">
        <span class="wh40k-panel-title">{{localize "WH40K.Rituals.Header"}}</span>
    </div>
    <div class="wh40k-panel-body">
        <div class="wh40k-table--border">
            <div class="table-row--head">
                <div class="table-cell--span2">{{localize "WH40K.Rituals.Name"}}</div>
                <div class="table-cell">{{localize "WH40K.Rituals.Test"}}</div>
                <div class="table-cell--last">
                    <label class="wh40k-control-button" data-action="itemCreate" data-type="ritual">
                        <span class="wh40k-control-button__span material-icons">add_circle</span>
                    </label>
                </div>
            </div>
            {{#each actor.items as |item|}}
                {{#if item.isRitual}}
                    <div class="table-row">
                        <div class="table-cell--span2">
                            <button class="item-name wh40k-item-button" data-item-id="{{item.id}}" type="button">
                                <img class="wh40k-item-img" src="{{item.img}}" alt="{{item.name}}" />
                                {{item.name}}
                            </button>
                        </div>
                        <div class="table-cell wh40k-test-cell">{{item.system.test}}</div>
                        <div class="table-cell--last">
                            <label class="wh40k-control-button item-delete" data-item-id="{{item.id}}">
                                <span class="wh40k-control-button__span material-icons">delete</span>
                            </label>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>