<div class="dh-panel spacer dh-grid-col-6 dh-grid-row-1">
    <h1 class="dh-panel__header">Rogue Trader</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Rank</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.rank" value="{{system.rogueTrader.rank}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Career Path</span>
        <input type="text" class="dh-field__input" name="system.rogueTrader.careerPath" value="{{system.rogueTrader.careerPath}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Motivation</span>
        <input type="text" class="dh-field__input" name="system.rogueTrader.motivation" value="{{system.rogueTrader.motivation}}" />
    </div>
</div>

<div class="dh-panel spacer dh-grid-col-3 dh-grid-row-1">
    <h1 class="dh-panel__header">Profit Factor</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Starting</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.profitFactor.starting" value="{{system.rogueTrader.profitFactor.starting}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Current</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.profitFactor.current" value="{{system.rogueTrader.profitFactor.current}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Misfortunes</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.profitFactor.misfortunes" value="{{system.rogueTrader.profitFactor.misfortunes}}" />
    </div>
</div>

<div class="dh-panel spacer dh-grid-col-3 dh-grid-row-1">
    <h1 class="dh-panel__header">Lifting &amp; Armour</h1>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Lift</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.lifting.lift" value="{{system.rogueTrader.lifting.lift}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Carry</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.lifting.carry" value="{{system.rogueTrader.lifting.carry}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Push</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.lifting.push" value="{{system.rogueTrader.lifting.push}}" />
    </div>
    <div class="dh-field__wrapper">
        <span class="dh-field__header">Armour Weight</span>
        <input type="number" data-dtype="Number" class="dh-field__input" name="system.rogueTrader.armourWeight" value="{{system.rogueTrader.armourWeight}}" />
    </div>
</div>

<div class="dh-panel spacer dh-grid-col-6 dh-grid-row-1">
    <h1 class="dh-panel__header">Acquisitions</h1>
    <textarea class="dh-header__textarea" name="system.rogueTrader.acquisitions" rows="6">{{system.rogueTrader.acquisitions}}</textarea>
</div>

<div class="dh-panel spacer dh-grid-col-6 dh-grid-row-1">
    <h1 class="dh-panel__header">Mutations</h1>
    <textarea class="dh-header__textarea" name="system.rogueTrader.mutations" rows="4">{{system.rogueTrader.mutations}}</textarea>
</div>
