<div class="rt-panel spacer rt-grid-col-6 rt-grid-row-2">
    <h1 class="rt-panel-header">{{localize "RT.Starship.Components.Header"}}</h1>
    <div class="rt-table--border">
        <div class="table-row--head">
            <div class="table-cell--span2">{{localize "RT.Starship.Components.Name"}}</div>
            <div class="table-cell">{{localize "RT.Starship.Components.Type"}}</div>
            <div class="table-cell">{{localize "RT.Starship.Components.Power"}}</div>
            <div class="table-cell">{{localize "RT.Starship.Components.Space"}}</div>
            <div class="table-cell">{{localize "RT.Starship.Components.SP"}}</div>
            <div class="table-cell--last">
                <label class="rt-control-button item-create" data-type="shipComponent">
                    <span class="rt-control-button__span material-icons">add_circle</span>
                </label>
            </div>
        </div>
        {{#each actor.items as |item|}}
            {{#if item.isShipComponent}}
                <div class="table-row">
                    <div class="table-cell--span2">
                        <button class="item-name rt-item-button" data-item-id="{{item.id}}" type="button">
                            <img class="rt-item-img" src="{{item.img}}" alt="{{item.name}}" />
                            {{item.name}}
                        </button>
                    </div>
                    <div class="table-cell">{{item.system.componentType}}</div>
                    <div class="table-cell {{#if (gt item.system.powerUsage 0)}}rt-power-gen{{else}}rt-power-use{{/if}}">
                        {{item.system.powerUsage}}
                    </div>
                    <div class="table-cell">{{item.system.spaceUsage}}</div>
                    <div class="table-cell">{{item.system.spCost}}</div>
                    <div class="table-cell--last">
                        <label class="rt-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">settings</span>
                        </label>
                        <label class="rt-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">delete</span>
                        </label>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
