<div class="rt-panel spacer rt-grid-col-6 rt-grid-row-1">
    <h1 class="rt-panel-header">{{localize "RT.Starship.Upgrades.Header"}}</h1>
    <div class="rt-table--border">
        <div class="table-row--head">
            <div class="table-cell--span2">{{localize "RT.Starship.Upgrades.Name"}}</div>
            <div class="table-cell">{{localize "RT.Starship.Upgrades.Power"}}</div>
            <div class="table-cell">{{localize "RT.Starship.Upgrades.Space"}}</div>
            <div class="table-cell--span2">{{localize "RT.Starship.Upgrades.Effect"}}</div>
            <div class="table-cell--last">
                <label class="rt-control-button item-create" data-type="shipUpgrade">
                    <span class="rt-control-button__span material-icons">add_circle</span>
                </label>
            </div>
        </div>
        {{#each actor.items as |item|}}
            {{#if item.isShipUpgrade}}
                <div class="table-row">
                    <div class="table-cell--span2">
                        <button class="item-name rt-item-button" data-item-id="{{item.id}}" type="button">
                            <img class="rt-item-img" src="{{item.img}}" alt="{{item.name}}" />
                            {{item.name}}
                        </button>
                    </div>
                    <div class="table-cell">{{item.system.power}}</div>
                    <div class="table-cell">{{item.system.space}}</div>
                    <div class="table-cell--span2 rt-effect-text">{{{item.system.effect}}}</div>
                    <div class="table-cell--last">
                        <label class="rt-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="rt-control-button__span material-icons">delete</span>
                        </label>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
