<div class="wh40k-panel tw-col-span-6 tw-row-span-1">
    <h1 class="wh40k-panel-header">
        <span class="wh40k-panel-title">{{localize "WH40K.Starship.Upgrades.Header"}}</span>
    </h1>
    <div class="wh40k-table--border">
        <div class="table-row--head">
            <div class="table-cell--span2">{{localize "WH40K.Starship.Upgrades.Name"}}</div>
            <div class="table-cell">{{localize "WH40K.Starship.Upgrades.Power"}}</div>
            <div class="table-cell">{{localize "WH40K.Starship.Upgrades.Space"}}</div>
            <div class="table-cell--span2">{{localize "WH40K.Starship.Upgrades.Effect"}}</div>
            <div class="table-cell--last">
                <label class="wh40k-control-button" data-action="itemCreate" data-type="shipUpgrade">
                    <span class="wh40k-control-button__span material-icons">add_circle</span>
                </label>
            </div>
        </div>
        {{#each actor.items as |item|}}
            {{#if item.isShipUpgrade}}
                <div class="table-row">
                    <div class="table-cell--span2">
                        <button class="item-name wh40k-item-button" data-item-id="{{item.id}}" type="button">
                            <img class="wh40k-item-img" src="{{item.img}}" alt="{{item.name}}" />
                            {{item.name}}
                        </button>
                    </div>
                    <div class="table-cell">{{item.system.power}}</div>
                    <div class="table-cell">{{item.system.space}}</div>
                    <div class="table-cell--span2 tw-text-sm tw-leading-snug">{{{item.system.effect}}}</div>
                    <div class="table-cell--last">
                        <label class="wh40k-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="wh40k-control-button__span material-icons">delete</span>
                        </label>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>