<div class="rt-panel spacer rt-grid-col-3 rt-grid-row-1">
    <h1 class="rt-panel-header">{{localize "RT.ShipRole.Header"}}</h1>
    <div class="rt-table--border">
        <div class="table-row--head">
            <div class="table-cell--span2">{{localize "RT.ShipRole.Role"}}</div>
            <div class="table-cell">{{localize "RT.ShipRole.Rank"}}</div>
            <div class="table-cell--last">
                <label class="rt-control-button">
                    <span class="rt-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each shipRoles as |role|}}
            <div class="table-row">
                <div class="table-cell--span2">
                    <button class="item-name" data-item-id="{{role._id}}" type="button">
                        <img class="rt-item-img" src="{{role.img}}" alt="{{role.name}}" />
                        {{role.name}}
                    </button>
                </div>
                <div class="table-cell">{{role.system.rank}}</div>
                <div class="table-cell--last">
                    <label class="rt-control-button item-delete" data-item-id="{{role._id}}">
                        <span class="rt-control-button__span material-icons">delete</span>
                    </label>
                </div>
            </div>
        {{/each}}
    </div>
    {{#if shipRoles.length}}
        <div class="rt-ship-role-details">
            {{#each shipRoles as |role|}}
                <div class="rt-ship-role-detail">
                    <h3>{{role.name}}</h3>
                    <p><strong>{{localize "RT.ShipRole.Purpose"}}:</strong> {{role.system.purpose}}</p>
                    <p><strong>{{localize "RT.ShipRole.Effect"}}:</strong> {{role.system.effect}}</p>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>
