<div class="dh-panel dh-grid-col-2 dh-grid-row-2">
    <div class="dh-table--border dh-skilltable--border">
        <h1 class="dh-panel__header">Specialist Skills</h1>
        <div class="table-row--head">
            <div class="table-cell">Name</div>
            <div class="table-cell">Char.</div>
            <div class="table-cell">Training</div>
            <div class="table-cell">Bonus</div>
            <div class="table-cell--last">Total</div>
        </div>
        {{#each skillLists.specialist as |entry|}}
            <div class="table-row--grouped">
                <div class="table-cell--grouped">
                    <span>{{entry.[1].label}}</span>
                </div>
                <div class="table-cell--last">
                    <button class="dh-settings__label--add add-skill" data-skill="{{entry.[0]}}">add_box</button>
                </div>
            </div>
            {{#if entry.[1].entries.length}}
                {{#each entry.[1].entries as |speciality idx|}}
                    <div class="table-row actor-drag" data-item-type="skill" data-item-id="{{../entry.[0]}}" data-speciality="{{idx}}">
                        <div class="table-cell">
                            <input type="text" name="system.skills.{{../entry.[0]}}.entries.{{idx}}.name" value="{{speciality.name}}" />
                            <button class="roll-skill" data-skill="{{../entry.[0]}}" data-specialty="{{idx}}" type="roll">{{speciality.name}}</button>
                        </div>
                        <div class="table-cell">
                            <select name="system.skills.{{../entry.[0]}}.entries.{{idx}}.characteristic">
                                {{selectOptions ../../skillCharacteristicOptions selected=speciality.characteristic}}
                            </select>
                        </div>
                        <div class="table-cell dh-skill-training">
                            <label><input type="checkbox" name="system.skills.{{../entry.[0]}}.entries.{{idx}}.basic" data-dtype="Boolean" {{checked speciality.basic}} />Basic</label>
                            <label><input type="checkbox" name="system.skills.{{../entry.[0]}}.entries.{{idx}}.trained" data-dtype="Boolean" {{checked speciality.trained}} />Trained</label>
                            <label><input type="checkbox" name="system.skills.{{../entry.[0]}}.entries.{{idx}}.plus10" data-dtype="Boolean" {{checked speciality.plus10}} />+10</label>
                            <label><input type="checkbox" name="system.skills.{{../entry.[0]}}.entries.{{idx}}.plus20" data-dtype="Boolean" {{checked speciality.plus20}} />+20</label>
                        </div>
                        <div class="table-cell">
                            <input type="number" data-dtype="Number" name="system.skills.{{../entry.[0]}}.entries.{{idx}}.bonus" value="{{speciality.bonus}}" />
                        </div>
                        <div class="table-cell--last table-cell--highlight">
                            <span class="display">{{speciality.current}}</span>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="table-row">
                    <div class="table-cell--grouped">No specialisations added</div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
