<div class="dh-panel dh-grid-col-3 dh-grid-row-2 rt-skills-panel">
    <div class="dh-table--border dh-skilltable--border">
        <h1 class="dh-panel__header">Rogue Trader Skills</h1>
        <div class="table-row--head rt-skills-header">
            <div class="table-cell rt-skill-name">Skill</div>
            <div class="table-cell rt-skill-char">Char</div>
            <div class="table-cell rt-skill-trained">Basic</div>
            <div class="table-cell rt-skill-trained">Trained</div>
            <div class="table-cell rt-skill-trained">+10</div>
            <div class="table-cell rt-skill-trained">+20</div>
            <div class="table-cell rt-skill-bonus">Bonus</div>
            <div class="table-cell--last rt-skill-total">Total</div>
        </div>
        {{#each skillLists.standard as |entry|}}
            <div class="table-row actor-drag rt-skill-row" data-item-type="skill" data-item-id="{{entry.[0]}}">
                <div class="table-cell rt-skill-name">
                    <button class="roll-skill rt-skill-button" data-skill="{{entry.[0]}}" type="roll" title="Roll {{entry.[1].label}}">
                        <span class="material-icons">casino</span> {{entry.[1].label}}
                    </button>
                </div>
                <div class="table-cell rt-skill-char">
                    <select name="system.skills.{{entry.[0]}}.characteristic" class="rt-char-select">
                        {{selectOptions ../skillCharacteristicOptions selected=entry.[1].characteristic}}
                    </select>
                </div>
                <div class="table-cell rt-skill-training">
                    <input type="checkbox" name="system.skills.{{entry.[0]}}.basic" data-dtype="Boolean" {{checked entry.[1].basic}} title="Basic" />
                </div>
                <div class="table-cell rt-skill-training">
                    <input type="checkbox" name="system.skills.{{entry.[0]}}.trained" data-dtype="Boolean" {{checked entry.[1].trained}} title="Trained" />
                </div>
                <div class="table-cell rt-skill-training">
                    <input type="checkbox" name="system.skills.{{entry.[0]}}.plus10" data-dtype="Boolean" {{checked entry.[1].plus10}} title="+10" />
                </div>
                <div class="table-cell rt-skill-training">
                    <input type="checkbox" name="system.skills.{{entry.[0]}}.plus20" data-dtype="Boolean" {{checked entry.[1].plus20}} title="+20" />
                </div>
                <div class="table-cell rt-skill-bonus">
                    <input type="number" data-dtype="Number" name="system.skills.{{entry.[0]}}.bonus" value="{{entry.[1].bonus}}" class="rt-bonus-input" />
                </div>
                <div class="table-cell--last table-cell--highlight rt-skill-total">
                    <span class="display rt-total-value">{{entry.[1].current}}</span>
                </div>
            </div>
        {{/each}}
    </div>
</div>
