<div class="rt-panel rt-panel-talents-list">
    <div class="rt-panel-header">
        <span class="rt-panel-title"><i class="fas fa-star"></i> Talents</span>
    </div>
    <div class="rt-panel-body">
        {{#if talentsCount}}
        <div class="rt-talents-list" data-drop-zone="talents" data-accepts="talent">
            {{#each actor.items as |item|}}
                {{#if item.isTalent}}
                <div class="rt-talent-card item-drag" data-item-id="{{item.id}}" draggable="true">
                    <div class="rt-card-header">
                        <img class="rt-card-icon" src="{{item.img}}" alt="{{item.name}}" />
                        <div class="rt-card-info">
                            <span class="rt-card-name item-edit" data-item-id="{{item.id}}">{{item.name}}</span>
                            {{#if item.system.tier}}
                            <span class="rt-card-meta">Tier {{item.system.tier}}</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="rt-card-actions">
                        <button type="button" class="rt-card-btn item-vocalize" data-item-id="{{item.id}}" title="Send to Chat">
                            <i class="fas fa-comment"></i>
                        </button>
                        <button type="button" class="rt-card-btn rt-btn-danger item-delete" data-item-id="{{item.id}}" title="Delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
                {{/if}}
            {{/each}}
        </div>
        {{/if}}
        <div class="rt-dropzone" data-action="itemCreate" data-type="talent">
            <i class="fas fa-star rt-dropzone-icon"></i>
            <span class="rt-dropzone-text">Drop Talent or Click to Create</span>
        </div>
    </div>
</div>
