<div class="rt-panel rt-ability-panel rt-talents-panel">
    <div class="rt-ability-header">
        <h3 class="rt-ability-title"><i class="fas fa-star"></i> Talents</h3>
        <button type="button" class="rt-ability-add item-create" data-type="talent" title="Add Talent">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="rt-ability-list">
        {{#each actor.items as |item|}}
            {{#if item.isTalent}}
            <div class="rt-ability-row" data-item-id="{{item.id}}">
                <img src="{{item.img}}" class="rt-ability-thumb" alt="" />
                <button type="button" class="rt-ability-name item-edit" data-item-id="{{item.id}}">{{item.name}}</button>
                {{#if item.system.tier}}
                <span class="rt-ability-pill">T{{item.system.tier}}</span>
                {{/if}}
                <div class="rt-ability-actions">
                    <button type="button" class="rt-ability-btn item-vocalize" data-item-id="{{item.id}}" title="Post to Chat">
                        <i class="fas fa-comment"></i>
                    </button>
                    <button type="button" class="rt-ability-btn item-delete" data-item-id="{{item.id}}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>
