{{!-- Talents Panel - Compact Table View --}}
<div class="rt-panel rt-panel-talents-table">
    <div class="rt-panel-header">
        <span class="rt-panel-title">
            <i class="fas fa-star"></i> Talents
            {{#if talentsCount}}<span class="rt-count-badge">{{talentsCount}}</span>{{/if}}
        </span>
    </div>
    
    <div class="rt-panel-body">
        <div class="rt-talents-table" data-drop-zone="talents" data-accepts="talent">
            {{#each talents as |talent|}}
            <div class="rt-tp_row" data-tooltip="{{talent.tooltipText}}">
                <img class="rt-tp_icon" src="{{talent.img}}" alt="{{talent.name}}" />
                
                <button type="button" class="rt-tp_name" data-action="itemEdit" data-item-id="{{talent.id}}">
                    {{talent.fullName}}
                    {{#if talent.flags.rogue-trader.autoGranted}}
                    <i class="fas fa-gift rt-tp_granted" title="Granted by {{talent.flags.rogue-trader.grantedBy}}"></i>
                    {{/if}}
                </button>
                
                <div class="rt-tp_meta">
                    {{#if talent.system.tier}}<span class="rt-tp_tier">T{{talent.system.tier}}</span>{{/if}}
                    <span class="rt-tp_category"><i class="fas {{talentIcon talent.system.category}}"></i></span>
                    {{#if talent.system.stackable}}<span class="rt-tp_rank">×{{talent.system.rank}}</span>{{/if}}
                </div>
                
                <div class="rt-tp_actions">
                    <button type="button" class="rt-tp_btn {{#if talent.isFavorite}}rt-tp_btn--active{{/if}}"
                            data-action="toggleFavoriteTalent" data-item-id="{{talent.id}}"
                            title="{{#if talent.isFavorite}}Unfavorite{{else}}Favorite{{/if}}">
                        <i class="{{#if talent.isFavorite}}fas{{else}}far{{/if}} fa-star"></i>
                    </button>
                    <button type="button" class="rt-tp_btn" data-action="itemVocalize" data-item-id="{{talent.id}}" title="Chat">
                        <i class="fas fa-comment"></i>
                    </button>
                    <button type="button" class="rt-tp_btn rt-tp_btn--danger" data-action="itemDelete" data-item-id="{{talent.id}}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
        
        <div class="rt-dropzone {{#if talentsCount}}rt-dropzone--compact{{/if}}" data-action="itemCreate" data-type="talent">
            <i class="fas fa-star rt-dropzone-icon"></i>
            <span class="rt-dropzone-text">{{#if talentsCount}}Drop to add{{else}}Drop Talent or Click to Create{{/if}}</span>
        </div>
    </div>
</div>
