{{!-- Talents Panel - Compact Table View --}}
<div class="rt-panel rt-panel-talents-table">
    <div class="rt-panel-header">
        <span class="rt-panel-title">
            <i class="fas fa-star"></i> Talents
        </span>
    </div>
    <div class="rt-panel-body">
        <div class="rt-talents-table" data-drop-zone="talents" data-accepts="talent">
            {{#each talents as |talent|}}
            <div class="rt-talent-row item-drag" data-item-id="{{talent.id}}" draggable="true">
                <img class="rt-row-icon" src="{{talent.img}}" alt="{{talent.name}}" />
                
                <div class="rt-row-main">
                    <button type="button" class="rt-row-name" data-action="itemEdit" data-item-id="{{talent.id}}" title="Click to open item sheet">
                        {{talent.fullName}}
                    </button>
                    
                    <div class="rt-row-meta">
                        <span class="rt-meta-item">
                            <i class="fas {{talentIcon talent.system.category}}"></i> {{talent.categoryLabel}}
                        </span>
                        {{#if talent.system.tier}}
                        <span class="rt-meta-item">
                            Tier {{talent.system.tier}}
                        </span>
                        {{/if}}
                        {{#if talent.system.stackable}}
                        <span class="rt-meta-item rt-meta-rank">
                            Rank {{talent.system.rank}}
                        </span>
                        {{/if}}
                    </div>
                </div>
                
                <div class="rt-row-actions">
                    <button type="button" class="rt-action-btn" data-action="itemVocalize" data-item-id="{{talent.id}}" title="Send to Chat">
                        <i class="fas fa-comment"></i>
                    </button>
                    <button type="button" class="rt-action-btn rt-btn-danger" data-action="itemDelete" data-item-id="{{talent.id}}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
        
        <div class="rt-dropzone {{#if talentsCount}}rt-dropzone--compact{{/if}}" data-action="itemCreate" data-type="talent">
            <i class="fas fa-star rt-dropzone-icon"></i>
            <span class="rt-dropzone-text">{{#if talentsCount}}Drop to add{{else}}Drop Talent or Click to Create{{/if}}</span>
        </div>
    </div>
</div>
