{{!-- Talents Panel - Compact Table View --}}
<div class="wh40k-panel wh40k-panel-talents-table">
    <div class="wh40k-panel-header">
        <span class="wh40k-panel-title">
            <i class="fas fa-star"></i> Talents
            {{#if talentsCount}}<span class="wh40k-count-badge">{{talentsCount}}</span>{{/if}}
        </span>
    </div>
    
    <div class="wh40k-panel-body">
        {{#if talentsCount}}
        <div class="wh40k-talents-table" data-drop-zone="talents" data-accepts="talent">
            {{#each talents as |talent|}}
            <div class="wh40k-tp_row" data-tooltip="{{talent.tooltipText}}">
                <img class="wh40k-tp_icon" src="{{talent.img}}" alt="{{talent.name}}" />
                
                <button type="button" class="wh40k-tp_name" data-action="itemEdit" data-item-id="{{talent.id}}">
                    {{talent.fullName}}
                    {{#if talent.flags.wh40k-rpg.autoGranted}}
                    <i class="fas fa-gift wh40k-tp_granted" title="Granted by {{talent.flags.wh40k-rpg.grantedBy}}"></i>
                    {{/if}}
                </button>
                
                <div class="wh40k-tp_meta">
                    {{#if talent.system.tier}}<span class="wh40k-tp_tier">T{{talent.system.tier}}</span>{{/if}}
                    <span class="wh40k-tp_category"><i class="fas {{talentIcon talent.system.category}}"></i></span>
                    {{#if talent.system.stackable}}<span class="wh40k-tp_rank">×{{talent.system.rank}}</span>{{/if}}
                </div>
                
                <div class="wh40k-tp_actions">
                    <button type="button" class="wh40k-tp_btn {{#if talent.isFavorite}}wh40k-tp_btn--active{{/if}}"
                            data-action="toggleFavoriteTalent" data-item-id="{{talent.id}}"
                            title="{{#if talent.isFavorite}}Unfavorite{{else}}Favorite{{/if}}">
                        <i class="{{#if talent.isFavorite}}fas{{else}}far{{/if}} fa-star"></i>
                    </button>
                    <button type="button" class="wh40k-tp_btn" data-action="itemVocalize" data-item-id="{{talent.id}}" title="Chat">
                        <i class="fas fa-comment"></i>
                    </button>
                    <button type="button" class="wh40k-tp_btn wh40k-tp_btn--danger" data-action="itemDelete" data-item-id="{{talent.id}}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}

        <div class="wh40k-dropzone {{#if talentsCount}}wh40k-dropzone--compact{{/if}}" data-action="itemCreate" data-type="talent">
            <i class="fas fa-star wh40k-dropzone-icon"></i>
            <span class="wh40k-dropzone-text">{{#if talentsCount}}Drop to add{{else}}Drop Talent or Click to Create{{/if}}</span>
        </div>
    </div>
</div>
