{{!-- Traits Panel - Compact Table View with Grouping --}}
<div class="rt-panel rt-panel-traits-table">
    <div class="rt-panel-header">
        <span class="rt-panel-title">
            <i class="fas fa-shield-alt"></i> Traits
        </span>
    </div>
    
    <div class="rt-panel-body">
        {{!-- Grouped Trait Table --}}
        {{#if traits.length}}
        <div class="rt-traits-grouped">
            {{#each groupedByCategory as |group|}}
            <div class="rt-trait-group">
                <div class="rt-group-header {{traitCategoryColor group.category}}">
                    <i class="fas {{traitIcon group.category}}"></i>
                    <span class="rt-group-title">{{group.categoryLabel}}</span>
                    <span class="rt-count-badge">{{group.traits.length}}</span>
                </div>
                
                <div class="rt-traits-table" data-category="{{group.category}}">
                    {{#each group.traits as |trait|}}
                    <div class="rt-trait-row item-drag" 
                         data-item-id="{{trait.id}}" 
                         draggable="true">
                        <i class="fas {{trait.categoryIcon}} rt-row-icon-inline"></i>
                        
                        <div class="rt-row-main">
                            <button type="button" 
                                  class="rt-row-name" 
                                  data-action="itemEdit" 
                                  data-item-id="{{trait.id}}" 
                                  title="Click to open item sheet">
                                {{trait.name}}
                            </button>
                            
                            {{#if trait.system.requirements}}
                            <div class="rt-row-meta">
                                <span class="rt-meta-item">
                                    <i class="fas fa-lock"></i> {{trait.system.requirements}}
                                </span>
                            </div>
                            {{/if}}
                        </div>
                        
                        {{!-- Level Stepper for variable traits --}}
                        {{#if trait.hasLevel}}
                        <div class="rt-level-stepper">
                            <button type="button" 
                                    class="rt-stepper-btn" 
                                    data-action="adjustTraitLevel" 
                                    data-item-id="{{trait.id}}" 
                                    data-delta="-1"
                                    title="Decrease Level">
                                <i class="fas fa-minus"></i>
                            </button>
                            <span class="rt-level-display">{{trait.system.level}}</span>
                            <button type="button" 
                                    class="rt-stepper-btn" 
                                    data-action="adjustTraitLevel" 
                                    data-item-id="{{trait.id}}" 
                                    data-delta="1"
                                    title="Increase Level">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        {{/if}}
                        
                        <div class="rt-row-actions">
                            <button type="button" 
                                    class="rt-action-btn" 
                                    data-action="itemVocalize" 
                                    data-item-id="{{trait.id}}" 
                                    title="Send to Chat">
                                <i class="fas fa-comment"></i>
                            </button>
                            <button type="button" 
                                    class="rt-action-btn rt-btn-danger" 
                                    data-action="itemDelete" 
                                    data-item-id="{{trait.id}}" 
                                    title="Delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
        
        {{!-- Dropzone --}}
        <div class="rt-dropzone {{#if traits.length}}rt-dropzone--compact{{/if}}" data-action="itemCreate" data-type="trait">
            <i class="fas fa-shield-alt rt-dropzone-icon"></i>
            <span class="rt-dropzone-text">{{#if traits.length}}Drop to add{{else}}Drop Trait or Click to Create{{/if}}</span>
        </div>
    </div>
</div>
