<div class="rt-panel rt-ability-panel rt-traits-panel">
    <div class="rt-ability-header">
        <h3 class="rt-ability-title"><i class="fas fa-shield-alt"></i> Traits</h3>
        <button type="button" class="rt-ability-add item-create" data-type="trait" title="Add Trait">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="rt-ability-list">
        {{#each actor.items as |item|}}
            {{#if item.isTrait}}
            <div class="rt-ability-row" data-item-id="{{item.id}}">
                <img src="{{item.img}}" class="rt-ability-thumb" alt="" />
                <button type="button" class="rt-ability-name item-edit" data-item-id="{{item.id}}">
                    {{item.name}}{{#if item.system.level}} ({{item.system.level}}){{/if}}
                </button>
                <div class="rt-ability-actions">
                    <button type="button" class="rt-ability-btn item-vocalize" data-item-id="{{item.id}}" title="Post to Chat">
                        <i class="fas fa-comment"></i>
                    </button>
                    <button type="button" class="rt-ability-btn item-delete" data-item-id="{{item.id}}" title="Delete">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>
