{{! Vehicle Weapons Panel }}
{{#> systems/wh40k-rpg/templates/actor/partial/panel.hbs label=(localize "WH40K.Vehicle.Weapons") icon="fa-crosshairs" rootClass="tw-col-span-6" bodyClass="tw-p-0"}}
    <div class="tw-flex tw-flex-col tw-gap-2 tw-p-2">
        {{#if weapons}}
            {{#> systems/wh40k-rpg/templates/actor/partial/item-table.hbs
                headers=(array
                    (object cellClass="table-cell--span2" labelKey="WH40K.Weapon.Name")
                    (object labelKey="WH40K.Weapon.Class")
                    (object labelKey="WH40K.Weapon.Range")
                    (object labelKey="WH40K.Weapon.Damage")
                    (object cellClass="table-cell--last" labelKey="WH40K.Actions"))}}
                {{#each weapons as |weapon|}}
                    {{#> systems/wh40k-rpg/templates/actor/partial/item-table-row.hbs
                        item=weapon
                        showImg=true
                        editAction=false
                        cells=(array
                            (object value=weapon.system.class)
                            (object value=weapon.system.range)
                            (object value=(iff weapon.system.damageLabel weapon.system.damageLabel (concat weapon.system.damage.formula (iff weapon.system.damage.bonus (concat "+" weapon.system.damage.bonus) "")))))
                        actions=(array
                            (object action="rollWeapon" iconKey="fa:dice-d20" titleKey="WH40K.Common.Roll")
                            (object action="itemDelete" iconKey="fa:trash" titleKey="WH40K.Common.Delete"))}}
                    {{/systems/wh40k-rpg/templates/actor/partial/item-table-row.hbs}}
                {{/each}}
            {{/systems/wh40k-rpg/templates/actor/partial/item-table.hbs}}
        {{/if}}

        <div class="tw-flex tw-flex-col tw-gap-1">
            <label class="wh40k-field__header">{{localize "WH40K.Vehicle.Weapons.Description"}}</label>
            <div class="tw-rounded-md tw-overflow-hidden">
                {{editor system.weapons target="system.weapons" button=true editable=editable}}
            </div>
            <small class="tw-text-xs tw-opacity-60 tw-italic">{{localize "WH40K.Vehicle.Weapons.Hint"}}</small>
        </div>

        <div class="tw-flex tw-justify-end">
            <button class="wh40k-control-button" data-action="itemCreate" data-type="weapon">
                {{iconSvg "fa:plus-circle" class="tw-w-3.5 tw-h-3.5"}}
                {{localize "WH40K.Vehicle.Weapons.Add"}}
            </button>
        </div>
    </div>
{{/systems/wh40k-rpg/templates/actor/partial/panel.hbs}}
