{{! Vehicle Weapons Panel }}
{{#> systems/wh40k-rpg/templates/actor/partial/panel.hbs label=(localize "WH40K.Vehicle.Weapons") icon="fa-crosshairs" rootClass="tw-col-span-6" bodyClass="tw-p-0"}}
    <div class="tw-flex tw-flex-col tw-gap-2 tw-p-2">
        {{#if weapons}}
            <div class="wh40k-table--border">
                <div class="table-row--head">
                    <div class="table-cell--span2">{{localize "WH40K.Weapon.Name"}}</div>
                    <div class="table-cell">{{localize "WH40K.Weapon.Class"}}</div>
                    <div class="table-cell">{{localize "WH40K.Weapon.Range"}}</div>
                    <div class="table-cell">{{localize "WH40K.Weapon.Damage"}}</div>
                    <div class="table-cell--last">{{localize "WH40K.Actions"}}</div>
                </div>
                {{#each weapons as |weapon|}}
                    <div class="table-row">
                        <div class="table-cell--span2">
                            <button class="item-name wh40k-item-button" data-item-id="{{weapon.id}}" type="button">
                                <img class="wh40k-item-img" src="{{weapon.img}}" alt="{{weapon.name}}" />
                                {{weapon.name}}
                            </button>
                        </div>
                        <div class="table-cell">{{weapon.system.class}}</div>
                        <div class="table-cell">{{weapon.system.range}}</div>
                        <div class="table-cell">{{#if weapon.system.damageLabel}}{{weapon.system.damageLabel}}{{else}}{{weapon.system.damage.formula}}{{#if weapon.system.damage.bonus}}+{{weapon.system.damage.bonus}}{{/if}}{{/if}}</div>
                        <div class="table-cell--last">
                            <button class="wh40k-control-button" data-action="rollWeapon" data-item-id="{{weapon.id}}" title="Roll Attack">
                                <i class="fas fa-dice-d20"></i>
                            </button>
                            <button class="wh40k-control-button item-delete" data-item-id="{{weapon.id}}" title="Delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}

        <div class="tw-flex tw-flex-col tw-gap-1">
            <label class="wh40k-field__header">{{localize "WH40K.Vehicle.Weapons.Description"}}</label>
            <div class="tw-rounded-md tw-overflow-hidden">
                {{editor system.weapons target="system.weapons" button=true editable=editable}}
            </div>
            <small class="tw-text-xs tw-opacity-60 tw-italic">{{localize "WH40K.Vehicle.Weapons.Hint"}}</small>
        </div>

        <div class="tw-flex tw-justify-end">
            <button class="wh40k-control-button" data-action="itemCreate" data-type="weapon">
                <i class="fas fa-plus"></i>
                {{localize "WH40K.Vehicle.Weapons.Add"}}
            </button>
        </div>
    </div>
{{/systems/wh40k-rpg/templates/actor/partial/panel.hbs}}