<div class="wh40k-panel spacer wh40k-grid-col-2">
    <h1 class="wh40k-panel-header">
        <i class="fas fa-heart-broken"></i>
        {{localize "WH40K.Vehicle.Integrity"}}
    </h1>
    <div class="wh40k-integrity-display">
        <div class="wh40k-field__wrapper">
            <span class="wh40k-field__header">{{localize "WH40K.Vehicle.Integrity.Max"}}</span>
            <input type="number" data-dtype="Number" class="wh40k-field__input" name="system.integrity.max" value="{{source.integrity.max}}" />
        </div>
        <div class="wh40k-field__wrapper">
            <span class="wh40k-field__header">{{localize "WH40K.Vehicle.Integrity.Current"}}</span>
            <div class="wh40k-integrity-controls">
                <button class="wh40k-control-button" data-action="adjustIntegrity" data-delta="-1" title="Damage">
                    <i class="fas fa-minus"></i>
                </button>
                <input type="number" data-dtype="Number" class="wh40k-field__input" name="system.integrity.value" value="{{source.integrity.value}}" />
                <button class="wh40k-control-button" data-action="adjustIntegrity" data-delta="1" title="Repair">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="wh40k-field__wrapper">
            <span class="wh40k-field__header">{{localize "WH40K.Vehicle.Integrity.Critical"}}</span>
            <input type="number" data-dtype="Number" class="wh40k-field__input" name="system.integrity.critical" value="{{source.integrity.critical}}" />
        </div>
        {{#if actor.system.isDamaged}}
            <div class="wh40k-integrity-status wh40k-status-damaged">
                <i class="fas fa-exclamation-triangle"></i>
                {{localize "WH40K.Vehicle.Status.Damaged"}}
                ({{system.integrityPercentage}}%)
            </div>
        {{/if}}
        {{#if actor.system.isDestroyed}}
            <div class="wh40k-integrity-status wh40k-status-destroyed">
                <i class="fas fa-skull-crossbones"></i>
                {{localize "WH40K.Vehicle.Status.Destroyed"}}
            </div>
        {{/if}}
    </div>
</div>