{{! Vehicle Weapons Panel }}
<div class="wh40k-panel spacer wh40k-grid-col-6">
    <h1 class="wh40k-panel-header">
        <i class="fas fa-crosshairs"></i>
        {{localize "WH40K.Vehicle.Weapons"}}
    </h1>
    <div class="wh40k-vehicle-weapons-section">
        {{#if weapons}}
            <div class="wh40k-table--border">
                <div class="table-row--head">
                    <div class="table-cell--span2">{{localize "WH40K.Weapon.Name"}}</div>
                    <div class="table-cell">{{localize "WH40K.Weapon.Class"}}</div>
                    <div class="table-cell">{{localize "WH40K.Weapon.Range"}}</div>
                    <div class="table-cell">{{localize "WH40K.Weapon.Damage"}}</div>
                    <div class="table-cell--last">{{localize "WH40K.Actions"}}</div>
                </div>
                {{#each weapons as |weapon|}}
                    <div class="table-row">
                        <div class="table-cell--span2">
                            <button class="item-name wh40k-item-button" data-item-id="{{weapon.id}}" type="button">
                                <img class="wh40k-item-img" src="{{weapon.img}}" alt="{{weapon.name}}" />
                                {{weapon.name}}
                            </button>
                        </div>
                        <div class="table-cell">{{weapon.system.class}}</div>
                        <div class="table-cell">{{weapon.system.range}}</div>
                        <div class="table-cell">{{weapon.system.damage}}</div>
                        <div class="table-cell--last">
                            <button class="wh40k-control-button" data-action="rollWeapon" data-item-id="{{weapon.id}}" title="Roll Attack">
                                <i class="fas fa-dice-d20"></i>
                            </button>
                            <button class="wh40k-control-button item-delete" data-item-id="{{weapon.id}}" title="Delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}

        <div class="wh40k-weapons-description">
            <label class="wh40k-field__header">{{localize "WH40K.Vehicle.Weapons.Description"}}</label>
            <div class="wh40k-editor">
                {{editor system.weapons target="system.weapons" button=true editable=editable}}
            </div>
            <small class="wh40k-field__hint">{{localize "WH40K.Vehicle.Weapons.Hint"}}</small>
        </div>

        <div class="wh40k-item-controls">
            <button class="wh40k-control-button" data-action="itemCreate" data-type="weapon">
                <i class="fas fa-plus"></i>
                {{localize "WH40K.Vehicle.Weapons.Add"}}
            </button>
        </div>
    </div>
</div>