<div class="wh40k-panel wh40k-grid-col-4" data-drop-zone="general" data-accepts="weapon">
    <div class="wh40k-panel-header">
        <span class="wh40k-panel-title"><i class="fas fa-sword"></i> Weapons</span>
    </div>
    <div class="wh40k-panel-body">
        <div class="wh40k-table--border wh40k-weapontable--border">
        <div class="table-row--head">
            <div class="table-cell--span2">Name</div>
            <div class="table-cell">Class</div>
            <div class="table-cell">Type</div>
            <div class="table-cell">Equipped</div>
            <div class="table-cell--last">
                <label class="wh40k-control-button" data-action="itemCreate" data-type="weapon">
                    <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each actor.items as | item |}}
            {{#if item.isWeapon}}
                <div class="table-row item-drag" data-item-id="{{item.id}}" data-item-type="weapon">
                    <div class="table-cell--settingstoggle">
                        <label class="wh40k-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--left">
                        {{> systems/wh40k-rpg/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.class}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.type}}</span>
                    </div>
                    <div class="table-cell">
                        <span class="display">{{item.system.equipped}}</span>
                    </div>
                    <div class="table-cell--last">
                        <label class="wh40k-control-button item-roll" data-item-id="{{item.id}}">
                            <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'casino'}}</span>
                        </label>
                        <label class="wh40k-control-button item-damage" data-item-id="{{item.id}}">
                            <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'bolt'}}</span>
                        </label>
                        <label class="wh40k-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="wh40k-control-button__span material-icons">{{defaultVal icon 'delete'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--description description_{{item.id}}" {{hideIfNot
                        (isExpanded (concat 'description_' item.id ))}}>
                        <div class="wh40k-settings">
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Damage</span>
                                <span class="wh40k-field__span">{{item.system.damageLabel}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Pen</span>
                                <span class="wh40k-field__span">{{item.system.damage.penetration}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Range</span>
                                <span class="wh40k-field__span">{{item.system.rangeLabel}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">ROF (S/B/F)</span>
                                <span class="wh40k-field__span">{{item.system.rateOfFireLabel}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Clip</span>
                                <span class="wh40k-field__span">{{item.system.clip.value}} / {{item.system.clip.max}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Reload</span>
                                <span class="wh40k-field__span">{{item.system.reload}}</span>
                            </div>
                            <div class="wh40k-field__wrapper">
                                <span class="wh40k-field__header">Special</span>
                                <span class="wh40k-field__span">{{specialDisplay item.system.special}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
        </div>
    </div>
</div>
