{{#> systems/wh40k-rpg/templates/actor/partial/panel.hbs
    label=(localize "WH40K.Weapons")
    icon="fa-sword"
    rootClass="tw-col-auto"
    rootAttrs='data-drop-zone="general" data-accepts="weapon"'}}
    {{#> systems/wh40k-rpg/templates/actor/partial/item-table.hbs
        rootClass="wh40k-weapontable--border"
        addAction="itemCreate"
        addType="weapon"
        addTitleKey="WH40K.Combat.AddWeapon"
        headers=(array
            (object cellClass="table-cell--span2" labelKey="WH40K.Weapon.Name")
            (object labelKey="WH40K.Weapon.Class")
            (object labelKey="WH40K.Weapon.Type")
            (object labelKey="WH40K.Weapon.Equipped"))}}
        {{#each actor.items as | item |}}
            {{#if item.isWeapon}}
                {{#> systems/wh40k-rpg/templates/actor/partial/item-table-row.hbs
                    item=item
                    dragType="weapon"
                    nameToggleId=(concat 'description_' item.id)
                    cells=(array
                        (object value=item.system.class)
                        (object value=item.system.type)
                        (object value=item.system.equipped))
                    actions=(array
                        (object action="itemRoll" iconKey="fa:dice-d20" titleKey="WH40K.Common.Roll")
                        (object action="itemDamage" iconKey="fa:bolt" titleKey="WH40K.Weapon.RollDamage")
                        (object action="itemDelete" iconKey="fa:trash" titleKey="WH40K.Common.Delete"))}}
                    <div class="wh40k-settings tw-grid tw-grid-cols-2 tw-gap-2">
                        <div class="wh40k-field__wrapper">
                            <span class="wh40k-field__header tw-text-gold bc:tw-text-crimson-light dh1e:tw-text-gold-raw-l5 dh2e:tw-text-gold-raw dw:tw-text-accent-combat ow:tw-text-brass-l20 rt:tw-text-gold im:tw-text-failure">{{localize "WH40K.Weapon.Damage"}}</span>
                            <span class="wh40k-field__span">{{item.system.damageLabel}}</span>
                        </div>
                        <div class="wh40k-field__wrapper">
                            <span class="wh40k-field__header">{{localize "WH40K.Weapon.Pen"}}</span>
                            <span class="wh40k-field__span">{{item.system.damage.penetration}}</span>
                        </div>
                        <div class="wh40k-field__wrapper">
                            <span class="wh40k-field__header">{{localize "WH40K.Weapon.Range"}}</span>
                            <span class="wh40k-field__span">{{item.system.rangeLabel}}</span>
                        </div>
                        <div class="wh40k-field__wrapper">
                            <span class="wh40k-field__header">{{localize "WH40K.Weapon.RoF"}}</span>
                            <span class="wh40k-field__span">{{item.system.rateOfFireLabel}}</span>
                        </div>
                        <div class="wh40k-field__wrapper">
                            <span class="wh40k-field__header">{{localize "WH40K.Weapon.Clip"}}</span>
                            <span class="wh40k-field__span">{{item.system.clip.value}} / {{item.system.effectiveClipMax}}</span>
                        </div>
                        <div class="wh40k-field__wrapper">
                            <span class="wh40k-field__header">{{localize "WH40K.Weapon.Reload"}}</span>
                            <span class="wh40k-field__span">{{item.system.reload}}</span>
                        </div>
                        <div class="wh40k-field__wrapper">
                            <span class="wh40k-field__header">{{localize "WH40K.Weapon.Special"}}</span>
                            <span class="wh40k-field__span">{{specialDisplay item.system.special}}</span>
                        </div>
                    </div>
                {{/systems/wh40k-rpg/templates/actor/partial/item-table-row.hbs}}
            {{/if}}
        {{/each}}
    {{/systems/wh40k-rpg/templates/actor/partial/item-table.hbs}}
{{/systems/wh40k-rpg/templates/actor/partial/panel.hbs}}
