<div class="dh-panel spacer dh-grid-col-2 dh-grid-row-1">
    <h1 class="dh-panel__header">Wounds</h1>
    
    {{!-- Wounds Tracker Section --}}
    <div class="rt-wounds-tracker">
        <div class="rt-tracker-row">
            <div class="rt-tracker-field">
                <span class="dh-field__header">Max Wounds</span>
                <input type="number" data-dtype="Number" class="dh-field__input" name="system.wounds.max" value="{{system.wounds.max}}" />
            </div>
            <div class="rt-tracker-field">
                <span class="dh-field__header">Current Wounds</span>
                <div class="rt-tracker-input-row">
                    <button type="button" class="rt-tracker-btn rt-tracker-down" data-field="system.wounds.value" data-action="decrement" data-min="0">−</button>
                    <input type="number" data-dtype="Number" class="dh-field__input rt-tracker-input" name="system.wounds.value" value="{{system.wounds.value}}" />
                    <button type="button" class="rt-tracker-btn rt-tracker-up" data-field="system.wounds.value" data-action="increment">+</button>
                </div>
            </div>
        </div>
        <div class="rt-tracker-row">
            <div class="rt-tracker-field rt-crit-tracker">
                <span class="dh-field__header">Critical Damage (Max 10)</span>
                <div class="rt-crit-bar">
                    {{#each (array 1 2 3 4 5 6 7 8 9 10)}}
                        <div class="rt-crit-pip {{#if (lte this ../system.wounds.critical)}}rt-crit-pip--filled{{/if}}" data-crit-level="{{this}}"></div>
                    {{/each}}
                </div>
                <div class="rt-tracker-input-row">
                    <button type="button" class="rt-tracker-btn rt-tracker-down" data-field="system.wounds.critical" data-action="decrement" data-min="0">−</button>
                    <input type="number" data-dtype="Number" class="dh-field__input rt-tracker-input rt-crit-input" name="system.wounds.critical" value="{{clampCritical system.wounds.critical}}" min="0" max="10" />
                    <button type="button" class="rt-tracker-btn rt-tracker-up" data-field="system.wounds.critical" data-action="increment" data-max="10">+</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dh-table--border dh-criticalinjurytable--border">
        <div class="table-row--head">
            <div class="table-cell--span2">Critical Injuries</div>
            <div class="table-cell--last">
                <label class="dh-control-button item-create" data-type="criticalInjury">
                    <span class="dh-control-button__span material-icons">{{defaultVal icon 'add_circle'}}</span>
                </label>
            </div>
        </div>
        {{#each actor.items as | item |}}
            {{#if item.isCriticalInjury}}
                <div class="table-row">
                    <div class="table-cell--settingstoggle">
                        <label class="dh-control-button item-edit" data-item-id="{{item.id}}">
                            <span class="dh-control-button__span material-icons">{{defaultVal icon 'settings'}}</span>
                        </label>
                    </div>
                    <div class="table-cell">
                        {{> systems/rogue-trader/templates/actor/partial/trait-toggle.hbs toggle=(concat 'description_' item.id) text=item.name}}
                    </div>
                    <div class="table-cell">
                        <label class="dh-control-button item-delete" data-item-id="{{item.id}}">
                            <span class="dh-control-button__span material-icons">{{defaultVal icon 'delete'}}</span>
                        </label>
                    </div>
                    <div class="table-cell--description description_{{item.id}}" {{hideIfNot
                        (isExpanded (concat 'description_' item.id ))}}>
                        <span>{{item.system.description}}</span>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
