{{!-- NPC Sheet Tab Navigation --}}
<nav class="rt-navigation" data-group="primary">
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="combat" data-group="primary">
            <span class="material-icons">gps_fixed</span>
            {{localize "RT.Tabs.Combat"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="abilities" data-group="primary">
            <span class="material-icons">psychology</span>
            {{localize "RT.Tabs.Abilities"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="gear" data-group="primary">
            <span class="material-icons">inventory_2</span>
            {{localize "RT.Tabs.Gear"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="powers" data-group="primary">
            <span class="material-icons">auto_fix_high</span>
            {{localize "RT.Tabs.Powers"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="notes" data-group="primary">
            <span class="material-icons">description</span>
            {{localize "RT.NPC.Notes"}}
        </a>
    </label>
</nav>
