{{!-- Origin Path Choice Dialog Template --}}
<div class="origin-choice-dialog-content">
    
    {{!-- Item Header --}}
    <div class="choice-header">
        <img src="{{itemImg}}" alt="{{itemName}}" class="item-img" />
        <div class="item-info">
            <h3 class="item-name">{{itemName}}</h3>
            <p class="choice-instruction">{{localize "RT.OriginPath.ChoicesRequired"}}</p>
        </div>
    </div>

    {{!-- Choices List --}}
    <div class="choices-list">
        {{#each choices as |choice|}}
            <div class="choice-group">
                <div class="choice-group-header">
                    <span class="choice-type-badge">{{choice.typeLabel}}</span>
                    <span class="choice-text">{{choice.label}}</span>
                    {{#if (gt choice.remaining 0)}}
                        <span class="choice-remaining">
                            ({{choice.remaining}} {{localize "RT.OriginPath.Remaining"}})
                        </span>
                    {{else}}
                        <i class="fa-solid fa-check-circle choice-complete"></i>
                    {{/if}}
                </div>
                
                {{!-- Card-based options --}}
                <div class="choice-options-cards">
                    {{#each choice.options as |option|}}
                        <div class="choice-card {{#if option.selected}}selected{{/if}} {{#if option.disabled}}disabled{{/if}}"
                             data-action="toggleOption"
                             data-choice="{{../label}}"
                             data-option="{{option.value}}"
                             {{#if option.disabled}}disabled{{/if}}>
                            
                            <div class="choice-card-header">
                                <span class="option-checkbox">
                                    {{#if option.selected}}
                                        <i class="fa-solid fa-check-square"></i>
                                    {{else}}
                                        <i class="fa-regular fa-square"></i>
                                    {{/if}}
                                </span>
                                <h4 class="option-label">{{option.label}}</h4>
                                {{#if option.selected}}
                                    <i class="fa-solid fa-check choice-checkmark"></i>
                                {{/if}}
                            </div>
                            
                            {{#if option.description}}
                                <p class="option-description">{{option.description}}</p>
                            {{/if}}
                            
                            {{!-- View Item Sheet Button (if applicable) --}}
                            {{#if option.uuid}}
                                <button type="button" class="view-item-btn" data-action="viewItem" data-uuid="{{option.uuid}}" data-tooltip="{{localize 'RT.OriginPath.ViewDetails'}}">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>

    {{!-- Footer Actions --}}
    <div class="choice-footer">
        <button type="button" class="cancel-button" data-action="cancel">
            <i class="fa-solid fa-times"></i>
            {{localize "RT.Cancel"}}
        </button>
        
        <button 
            type="submit" 
            class="confirm-button" 
            data-action="confirm"
            {{#unless allChoicesComplete}}disabled{{/unless}}>
            <i class="fa-solid fa-check"></i>
            {{localize "RT.OriginPath.ConfirmChoices"}}
        </button>
    </div>

</div>
