{{! Vehicle Sheet Header }}
<div class="wh40k-header wh40k-grid-col-6 wh40k-panel wh40k-vehicle-header">
    <div class="wh40k-header__info">
        <div class="wh40k-header__logo wh40k-portrait-container">
            <img class="wh40k-header__logo-image wh40k-portrait" src="{{actor.img}}" data-edit="img" alt="{{actor.name}}" title="{{actor.name}}" />
        </div>
        <div class="wh40k-header-info">
            <div class="wh40k-header-row wh40k-name-row">
                <span class="wh40k-header-label">{{localize "WH40K.Vehicle.Name"}}</span>
                <input class="wh40k-header-input wh40k-name-input" name="name" type="text" value="{{actor.name}}" />
            </div>
            <div class="wh40k-header-row">
                <span class="wh40k-header-label">{{localize "WH40K.Vehicle.Type"}}</span>
                <select class="wh40k-header-input" name="system.type">
                    {{selectOptions dh.vehicleTypes selected=actor.system.type labelAttr="label" valueAttr="@key"}}
                </select>
            </div>
            <div class="wh40k-header-row">
                <span class="wh40k-header-label">{{localize "WH40K.Vehicle.Class"}}</span>
                <select class="wh40k-header-input" name="system.vehicleClass">
                    {{selectOptions dh.vehicleClasses selected=actor.system.vehicleClass labelAttr="label" valueAttr="@key"}}
                </select>
            </div>
        </div>
        <div class="wh40k-quick-stats">
            <div class="wh40k-stat-box wh40k-integrity-box">
                <span class="wh40k-stat-label">Integrity</span>
                <div class="wh40k-stat-values">
                    <input type="number" class="wh40k-stat-input" name="system.integrity.value" value="{{system.integrity.value}}" title="Current" />
                    <span class="wh40k-stat-separator">/</span>
                    <input type="number" class="wh40k-stat-input" name="system.integrity.max" value="{{system.integrity.max}}" title="Max" />
                </div>
            </div>
            <div class="wh40k-stat-box wh40k-capacity-box">
                <span class="wh40k-stat-label">Capacity</span>
                <input type="number" class="wh40k-stat-input wh40k-stat-single" name="system.carryingCapacity" value="{{system.carryingCapacity}}" />
            </div>
        </div>
    </div>
</div>